In [ ]:
#connect with drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Dengue_GIS_Visualization/DengueData'

In [ ]:
import pandas as pd

##Temperature: State/Department Name and Muncipality Name Temperature Area (km^2) 
[ 1970-2010 ]

In [ ]:
#temp.notnull()
#temp = temp[temp.notnull()]
#pd.unique(temp.Department_Name)
#temp=temp.dropna()
#len(pd.unique(temp.Department_Name) ) # 32 unique identifiers
#temp.shape  ## 1230,4

In [ ]:
temp=pd.read_csv(path + '/Temperature_clean.xlsx - Data.csv')
temp= temp.rename(columns={"Department Name": "Department_Name","Municipality Name":"Municipality_Name"})
temp=temp.dropna()
temp_dept_unique=pd.unique(temp.Department_Name)
#len(temp_dept_unique) ## 33 values
temp_muni_unique=pd.unique(temp.Municipality_Name)
len(temp_muni_unique) #1019 values
#temp
#temp.shape ## 1232,4

FileNotFoundError: ignored

##Rainfall: State/Department Name and Muncipality Name Rainfall Area(km^2) 
[1970-2010]

In [ ]:
rainfall= pd.read_csv(path+'/Rainfall_clean.xlsx - Data.csv') 
rainfall= rainfall.rename(columns={"Department Name": "Department_Name","Municipality Name":"Municipality_Name"})
rain_dept_unique=pd.unique(rainfall.Department_Name)
#rainfall
#len(unique_values) ## 32 values
rain_muni_unique=pd.unique(rainfall.Municipality_Name)
len(rain_muni_unique) #1019 values
#rainfall.shape ## 1163,4
#rain_unique= unique_values
#rain_unique

1019

In [ ]:
list_intemp_notinrainfall = [item for item in temp_muni_unique if item not in rain_muni_unique]
list_intemp_notinrainfall

[]

##Elevation:  altitude_MIN Max and MEAN
[1970-2010]

In [ ]:
elevation= pd.read_csv(path+'/Elevation_clean.xlsx - Data.csv') 
elevation= elevation.rename(columns={"Department Name": "Department_Name","Municipality Name":"Municipality_Name"})
elevation_dep_values=pd.unique(elevation.Department_Name)
len(elevation_dep_values)  # 1019
elevation_muni_values=pd.unique(elevation.Municipality_Name)
len(elevation_muni_values)  #32
#elevation.shape 1100,5

1019

#1. Combine Temp + Rainfall + Elevation (1970-2010)

In [ ]:
result_temp_rain = pd.merge(temp, rainfall, how="inner", on=["Department_Name", "Municipality_Name"], suffixes=('left','right'))
result_temp_rain.shape
result_temp_rain    ##extra rows ..investigate

NameError: ignored

In [ ]:
result_temp_rain.tail()

      Department_Name Municipality_Name  ...  Rainfall Area (km²)right
1305  VALLE DEL CAUCA            ZARZAL  ...      1250        4,936617
1306           BOYACÁ         ZETAQUIRA  ...      1750        0,275045
1307     CUNDINAMARCA           ZIPACÓN  ...       750         0,23144
1308     CUNDINAMARCA           ZIPACÓN  ...      1250         0,01713
1309     CUNDINAMARCA         ZIPAQUIRÁ  ...       750       10,392961

[5 rows x 6 columns]

In [ ]:
#result.notna()
result_temp_rain.isnull().sum()  ##or isna()  ##.any instead of sum

Department_Name      0
Municipality_Name    0
Temperature          0
Area (km²)left       0
Rainfall             0
Area (km²)right      0
dtype: int64

In [ ]:
result_temp_rain_elevation = pd.merge(result_temp_rain, elevation, how="inner", on=["Department_Name", "Municipality_Name"],indicator=True, suffixes=('left','right'))
result_temp_rain_elevation   #1314

         Department_Name Municipality_Name  ...  altitude_MEAN _merge
0              ANTIOQUIA         ABEJORRAL  ...    2186,887497   both
1     NORTE DE SANTANDER            ÁBREGO  ...    1392,004489   both
2              ANTIOQUIA          ABRIAQUÍ  ...    1943,447703   both
3                   META           ACACÍAS  ...     550,697762   both
4                  CHOCÓ            ACANDÍ  ...      17,535657   both
...                  ...               ...  ...            ...    ...
1309     VALLE DEL CAUCA            ZARZAL  ...     949,399532   both
1310              BOYACÁ         ZETAQUIRA  ...    1688,308348   both
1311        CUNDINAMARCA           ZIPACÓN  ...     2564,69197   both
1312        CUNDINAMARCA           ZIPACÓN  ...     2564,69197   both
1313        CUNDINAMARCA         ZIPAQUIRÁ  ...    2624,219094   both

[1314 rows x 10 columns]

In [ ]:
result_temp_rain_elevation.isna().sum()

Department_Name      0
Municipality_Name    0
Temperature          0
Area (km²)left       0
Rainfall             0
Area (km²)right      0
altitude_MIN         0
altitude_MAX         0
altitude_MEAN        0
_merge               0
dtype: int64

##Aggregation of Number of Cases and Infection Rate

In [ ]:
pd.read_csv(path+'/Dengue_cases_clean.csv')

     DEPARTAMENTO       MUNICIPIO  Population  ...  Case_max  IR_per_100k  region
0        Amazonas      El Encanto      2405.0  ...         0     0.000000       1
1        Amazonas     La Chorrera      2815.4  ...         1    26.539278       1
2        Amazonas      La Pedrera      3458.6  ...        14   136.020331       1
3        Amazonas     La Victoria       606.2  ...         1    41.169205       1
4        Amazonas         Leticia     46055.0  ...      1676  1079.581175       1
...           ...             ...         ...  ...       ...          ...     ...
1117       Vaupés        Yavaraté      1085.4  ...         0     0.000000       1
1118      Vichada        Cumaribo     64692.0  ...        55    64.739261       5
1119      Vichada    La Primavera      9989.2  ...        92   477.617881       5
1120      Vichada  Puerto Carreño     20747.4  ...       214   339.570797       5
1121      Vichada   Santa Rosalía      4223.8  ...        31   411.240576       5

[1122 rows x 7 columns]

##Number of Cases and Infection Rate

1.   List item
2.   List item


[2015-2019]

In [ ]:
pd.read_csv(path+'/Dengue_cases_202008.csv')

     DEPARTAMENTO       MUNICIPIO  2015pop  ...    IR_5yr  IR_per_100k  region
0        Amazonas      El Encanto     3241  ...  0.000000     0.000000       1
1        Amazonas     La Chorrera     2599  ...  0.000265    26.539278       1
2        Amazonas      La Pedrera     2767  ...  0.001360   136.020331       1
3        Amazonas     La Victoria      552  ...  0.000412    41.169205       1
4        Amazonas         Leticia    42600  ...  0.010796  1079.581175       1
...           ...             ...      ...  ...       ...          ...     ...
1117       Vaupés        Yavaraté     1212  ...  0.000000     0.000000       1
1118      Vichada        Cumaribo    51719  ...  0.000647    64.739261       5
1119      Vichada    La Primavera     9694  ...  0.004776   477.617881       5
1120      Vichada  Puerto Carreño    20319  ...  0.003396   339.570797       5
1121      Vichada   Santa Rosalía     4551  ...  0.004112   411.240576       5

[1122 rows x 15 columns]

##SocioDemographic Features + Population (Github)
[2015-2019]

In [ ]:
sociodemographic_df = pd.read_csv(path+'/DANE_Dengue_Data_csv.csv') 
sociodemographic_df

      State code  ... Number of houses per Km2
0              5  ...              2102.057895
1              5  ...                11.945674
2              5  ...                 2.548276
3              5  ...                 9.092715
4              5  ...               102.752941
...          ...  ...                      ...
1117          97  ...                 0.028621
1118          99  ...                 0.432426
1119          99  ...                 0.113272
1120          99  ...                 0.247904
1121          99  ...                 0.134017

[1122 rows x 39 columns]

#2. Combine Number of Cases + SocioDemographic

# Round 2 : Precipitation by month 2015 - 2018

In [ ]:
#wclim_prec=pd.read_csv(path+'/precipitation.csv',encoding="latin1")
wclim_prec=pd.read_csv('/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/precipitation.csv',encoding="latin1")
##/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/precipitation.csv

In [ ]:
wclim_prec   ##month_year  ###COD_MPIO	  ###NOM_DPTO unique..
wclim_prec = wclim_prec.drop('Unnamed: 0', 1)
wclim_prec.head()

   PRECIPITATION_dec_15  PRECIPITATION_nov_15  ...   LATITUD   LONGITUD
0             49.636089            184.867233  ...  6.257590 -75.611031
1             50.967075            192.597107  ...  5.803728 -75.438474
2             40.205280            160.145645  ...  6.627569 -76.085978
3             50.143784            199.683243  ...  6.365534 -75.090597
4             52.162560            188.470245  ...  6.032922 -75.708003

[5 rows x 55 columns]

# END

In [ ]:
#take the municiplity code, municipality, and department
munp_code=wclim_prec[['COD_MPIO', 'NOM_DPTO', 'NOM_MPIO'	]]
len(munp_code) #1121
uni_munp=pd.unique(munp_code.COD_MPIO)  ##returs list
# Compare the numero of codes and municipalities with unique name
len(uni_munp)  ##1035   ##1121
munp_code.head()

   COD_MPIO   NOM_DPTO    NOM_MPIO
0      5001  ANTIOQUIA    MEDELLIN
1      5002  ANTIOQUIA   ABEJORRAL
2      5004  ANTIOQUIA    ABRIAQUI
3      5021  ANTIOQUIA  ALEJANDRIA
4      5030  ANTIOQUIA       AMAGA

# Round 2 : Temperature by month 2015 - 2018

In [ ]:
#wlcim_temp=pd.read_csv(path + '/tempearture.csv', encoding="latin1")
wlcim_temp=pd.read_csv('/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/tempearture.csv', encoding="latin1")
wlcim_temp = wlcim_temp.drop('Unnamed: 0', 1)
wlcim_temp.head()
wlcim_temp
##/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/tempearture.csv

      TEMPERATURE_dec_15  TEMPERATURE_nov_15  ...   LATITUD   LONGITUD
0              22.083401           21.200679  ...  6.257590 -75.611031
1              17.831932           17.005547  ...  5.803728 -75.438474
2              18.164536           17.482837  ...  6.627569 -76.085978
3              21.747211           21.015933  ...  6.365534 -75.090597
4              21.872991           20.931364  ...  6.032922 -75.708003
...                  ...                 ...  ...       ...        ...
1116           26.776190           26.704847  ...  0.833312 -69.618678
1117           30.031458           28.936934  ...  5.836530 -68.141222
1118           29.507873           28.546472  ...  5.517594 -69.620441
1119           28.824943           27.927636  ...  4.968581 -70.659971
1120           28.585947           27.678677  ...  4.262455 -69.521405

[1121 rows x 55 columns]

# END

In [ ]:
#wlcim_temp
from statistics import mean 
import pandas as pd

for variable in ['TEMPERATURE', 'PRECIPITATION']:
  for i in range(15,19):
    if variable == 'TEMPERATURE':
      data_temp=wlcim_temp[[variable + '_dec_' + str(i),
                            variable + '_nov_'  + str(i), 
                            variable + '_oct_'  + str(i),
                            variable + '_sep_'  + str(i),
                            variable + '_aug_'  + str(i),
                            variable + '_jul_'  + str(i),
                            variable + '_jun_'  + str(i),
                            variable + '_may_' + str(i),
                            variable + '_apr_'+ str(i),
                            variable + '_mar_' + str(i),
                            variable + '_feb_' + str(i),
                            variable + '_jan_' + str(i), ]]
      wlcim_temp['TMAnual_20' + str(i)]=data_temp.mean(numeric_only=True, axis=1)  ##append chnages to DF TMAnual20

    else:
      data_prec=wclim_prec[[variable + '_dec_' + str(i),
                            variable + '_nov_'  + str(i), 
                            variable + '_oct_'  + str(i),
                            variable + '_sep_'  + str(i),
                            variable + '_aug_'  + str(i),
                            variable + '_jul_'  + str(i),
                            variable + '_jun_'  + str(i),
                            variable + '_may_' + str(i),
                            variable + '_apr_'+ str(i),
                            variable + '_mar_' + str(i),
                            variable + '_feb_' + str(i),
                            variable + '_jan_' + str(i), ]]
      wclim_prec['PrePAnual_20' + str(i)]=data_prec.sum(numeric_only=True, axis=1)

In [ ]:
wclim_prec

      PRECIPITATION_dec_15  ...  PrePAnual_2018
0                49.636089  ...     2586.373940
1                50.967075  ...     2567.839100
2                40.205280  ...     2332.312233
3                50.143784  ...     2776.325390
4                52.162560  ...     2435.725365
...                    ...  ...             ...
1116            226.930237  ...     3592.666534
1117             15.768147  ...     2384.961678
1118             32.139248  ...     2550.077208
1119             59.596031  ...     2660.352051
1120             50.922600  ...     2674.677555

[1121 rows x 59 columns]

In [ ]:
wlcim_temp

      TEMPERATURE_dec_15  TEMPERATURE_nov_15  ...  TMAnual_2017  TMAnual_2018
0              22.083401           21.200679  ...     21.350182     21.257987
1              17.831932           17.005547  ...     16.812016     16.765922
2              18.164536           17.482837  ...     17.394741     17.339569
3              21.747211           21.015933  ...     21.145504     21.053678
4              21.872991           20.931364  ...     21.088197     21.019708
...                  ...                 ...  ...           ...           ...
1116           26.776190           26.704847  ...     25.959433     25.887254
1117           30.031458           28.936934  ...     28.353492     28.056971
1118           29.507873           28.546472  ...     27.925774     27.713020
1119           28.824943           27.927636  ...     27.318024     27.171170
1120           28.585947           27.678677  ...     27.052677     26.914772

[1121 rows x 59 columns]

In [ ]:
"""Download the temperature and precipitation dataframes"""
#wlcim_temp.to_csv(r'worldclim_temperature_2015-2018.csv')
#wclim_prec.to_csv(r'worldclim_precipitation_2015-2018.csv')

'Download the temperature and precipitation dataframes'

Precipitation - avergae or the added vaules
Temp - average

# Round 2: Luis 1980 - 2010 Temp, Precip, Elev(altitude)

In [ ]:
##xls=pd.ExcelFile(path+'/Copy of Datos Promedios Multianuales 81-10.xlsx')
xls=pd.ExcelFile('/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/Copy of Datos Promedios Multianuales 81-10.xlsx')
df1_temp = pd.read_excel(xls, 'Temperatura')
df2_perp = pd.read_excel(xls, 'Precipitación')

In [ ]:
df1_temp   # Tmn TmnX  TmnM # Long DD and Lat DD matches #ELEV  #Departmento + municipio (code.not the helpful.1-to-many relationship (many manucip with same code))
##Borrow mucipio and mucip code from wclim temp/precp // CODIGO ? --> pair  and create own id 
##no elevation in wclim -> borrow from luis table (group) check Longitud and latitu for a group?

       CODIGO CAT              NOMBRE  ... UTM zone Easting (m)  Northing (m)
0    48015010  SP      A.Vasquez Cobo  ...  #ERROR!         NaN           NaN
1    23085030  CO          Alejandria  ...  #ERROR!         NaN           NaN
2    26195020  CO           Ita Andes  ...  #ERROR!         NaN           NaN
3    27025030  CO               Anori  ...  #ERROR!         NaN           NaN
4    12015020  AM              Uniban  ...  #ERROR!         NaN           NaN
..        ...  ..                 ...  ...      ...         ...           ...
462  33055010  CO            Cumaribo  ...  #ERROR!         NaN           NaN
463  34015010  SP        Gaviotas Las  ...  #ERROR!         NaN           NaN
464  34035020  CO            Tapon El  ...  #ERROR!         NaN           NaN
465  34035010  CO  Tuparro Bocas Tomo  ...  #ERROR!         NaN           NaN
466  38015030  CP    Apto Pto Carreno  ...  #ERROR!         NaN           NaN

[467 rows x 60 columns]

In [ ]:
df2_perp

        CODIGO CAT            NOMBRE  ... UTM zone Easting (m)  Northing (m)
0     47060010  PM        Encanto El  ...  #ERROR!         NaN           NaN
1     47040050  PM       San Agustin  ...  #ERROR!         NaN           NaN
2     44130040  PM         Monos Los  ...  #ERROR!         NaN           NaN
3     44130030  PM         Pto Belen  ...  #ERROR!         NaN           NaN
4     44180030  PM            Bacuri  ...  #ERROR!         NaN           NaN
...        ...  ..               ...  ...      ...         ...           ...
2041  38015030  CP  Apto Pto Carreno  ...  #ERROR!         NaN           NaN
2042  38010030  PM         Casuarito  ...  #ERROR!         NaN           NaN
2043  35260010  PM           Bonanza  ...  #ERROR!         NaN           NaN
2044  35260030  PM     Hato Burrunay  ...  #ERROR!         NaN           NaN
2045  35260020  PM         Sta Maria  ...  #ERROR!         NaN           NaN

[2046 rows x 47 columns]

# END

In [ ]:
temp=pd.read_csv(path+'/Temperature_clean.xlsx - Data.csv')
temp= temp.rename(columns={"Department Name": "Department_Name","Municipality Name":"Municipality_Name"})
temp=temp.dropna()
temp_dept_unique=pd.unique(temp.Department_Name)
#len(temp_dept_unique) ## 33 values
temp_muni_unique=pd.unique(temp.Municipality_Name)
len(temp_muni_unique) #1019 values
#temp
#temp.shape ## 1232,4
temp

NameError: ignored

--# Tmn TmnX  TmnM # Long DD and Lat DD matches #ELEV  #Departmento + municipio (code.not the helpful.1-to-many relationship (many manucip with same code))
--##Borrow mucipio and mucip code from wclim temp/precp // CODIGO ? --> pair  and create own id 
--##no elevation in wclim -> borrow from luis table (group) check Longitud and latitu for a group?

# join the socidemographic data, and the world clim data

In [ ]:
worldclim_tem_prec_df = wclim_prec.merge(wlcim_temp, on=['COD_DPTO',	'NOM_DPTO',	'COD_MPIO',	'NOM_MPIO',	'TIPO',	'LATITUD',	'LONGITUD'], how='left')
worldclim_tem_prec_df = worldclim_tem_prec_df.rename(columns={'COD_MPIO': 'Municipality code'})
worldclim_tem_prec_df

      PRECIPITATION_dec_15  ...  TEMPERATURE_jan_18
0                49.636089  ...           20.979769
1                50.967075  ...           16.455098
2                40.205280  ...           17.019929
3                50.143784  ...           20.606707
4                52.162560  ...           20.688046
...                    ...  ...                 ...
1116            226.930237  ...           25.843567
1117             15.768147  ...           28.883538
1118             32.139248  ...           28.382773
1119             59.596031  ...           27.769912
1120             50.922600  ...           27.411737

[1121 rows x 103 columns]

In [ ]:
columns = worldclim_tem_prec_df.columns
for column in columns:
  print(column)

PRECIPITATION_dec_15
PRECIPITATION_nov_15
PRECIPITATION_oct_15
PRECIPITATION_sep_15
PRECIPITATION_aug_15
PRECIPITATION_jul_15
PRECIPITATION_jun_15
PRECIPITATION_may_15
PRECIPITATION_apr_15
PRECIPITATION_mar_15
PRECIPITATION_feb_15
PRECIPITATION_jan_15
PRECIPITATION_dec_16
PRECIPITATION_nov_16
PRECIPITATION_oct_16
PRECIPITATION_sep_16
PRECIPITATION_aug_16
PRECIPITATION_jul_16
PRECIPITATION_jun_16
PRECIPITATION_may_16
PRECIPITATION_apr_16
PRECIPITATION_mar_16
PRECIPITATION_feb_16
PRECIPITATION_jan_16
PRECIPITATION_dec_17
PRECIPITATION_nov_17
PRECIPITATION_oct_17
PRECIPITATION_sep_17
PRECIPITATION_aug_17
PRECIPITATION_jul_17
PRECIPITATION_jun_17
PRECIPITATION_may_17
PRECIPITATION_apr_17
PRECIPITATION_mar_17
PRECIPITATION_feb_17
PRECIPITATION_jan_17
PRECIPITATION_dec_18
PRECIPITATION_nov_18
PRECIPITATION_oct_18
PRECIPITATION_sep_18
PRECIPITATION_aug_18
PRECIPITATION_jul_18
PRECIPITATION_jun_18
PRECIPITATION_may_18
PRECIPITATION_apr_18
PRECIPITATION_mar_18
PRECIPITATION_feb_18
PRECIPITATION_jan_18
COD_DPTO
NOM_DPTO
Municipality code
NOM_MPIO
TIPO
LATITUD
LONGITUD
TEMPERATURE_dec_15
TEMPERATURE_nov_15
TEMPERATURE_oct_15
TEMPERATURE_sep_15
TEMPERATURE_aug_15
TEMPERATURE_jul_15
TEMPERATURE_jun_15
TEMPERATURE_may_15
TEMPERATURE_apr_15
TEMPERATURE_mar_15
TEMPERATURE_feb_15
TEMPERATURE_jan_15
TEMPERATURE_dec_16
TEMPERATURE_nov_16
TEMPERATURE_oct_16
TEMPERATURE_sep_16
TEMPERATURE_aug_16
TEMPERATURE_jul_16
TEMPERATURE_jun_16
TEMPERATURE_may_16
TEMPERATURE_apr_16
TEMPERATURE_mar_16
TEMPERATURE_feb_16
TEMPERATURE_jan_16
TEMPERATURE_dec_17
TEMPERATURE_nov_17
TEMPERATURE_oct_17
TEMPERATURE_sep_17
TEMPERATURE_aug_17
TEMPERATURE_jul_17
TEMPERATURE_jun_17
TEMPERATURE_may_17
TEMPERATURE_apr_17
TEMPERATURE_mar_17
TEMPERATURE_feb_17
TEMPERATURE_jan_17
TEMPERATURE_dec_18
TEMPERATURE_nov_18
TEMPERATURE_oct_18
TEMPERATURE_sep_18
TEMPERATURE_aug_18
TEMPERATURE_jul_18
TEMPERATURE_jun_18
TEMPERATURE_may_18
TEMPERATURE_apr_18
TEMPERATURE_mar_18
TEMPERATURE_feb_18
TEMPERATURE_jan_18

In [ ]:
worldclim_temp_prec_socidemographic_df = worldclim_tem_prec_df.merge(sociodemographic_df, on='Municipality code', how='left')
worldclim_temp_prec_socidemographic_df

NameError: ignored

In [ ]:
columns = worldclim_temp_prec_socidemographic_df.columns
for column in columns:
  print(column)

PRECIPITATION_dec_15
PRECIPITATION_nov_15
PRECIPITATION_oct_15
PRECIPITATION_sep_15
PRECIPITATION_aug_15
PRECIPITATION_jul_15
PRECIPITATION_jun_15
PRECIPITATION_may_15
PRECIPITATION_apr_15
PRECIPITATION_mar_15
PRECIPITATION_feb_15
PRECIPITATION_jan_15
PRECIPITATION_dec_16
PRECIPITATION_nov_16
PRECIPITATION_oct_16
PRECIPITATION_sep_16
PRECIPITATION_aug_16
PRECIPITATION_jul_16
PRECIPITATION_jun_16
PRECIPITATION_may_16
PRECIPITATION_apr_16
PRECIPITATION_mar_16
PRECIPITATION_feb_16
PRECIPITATION_jan_16
PRECIPITATION_dec_17
PRECIPITATION_nov_17
PRECIPITATION_oct_17
PRECIPITATION_sep_17
PRECIPITATION_aug_17
PRECIPITATION_jul_17
PRECIPITATION_jun_17
PRECIPITATION_may_17
PRECIPITATION_apr_17
PRECIPITATION_mar_17
PRECIPITATION_feb_17
PRECIPITATION_jan_17
PRECIPITATION_dec_18
PRECIPITATION_nov_18
PRECIPITATION_oct_18
PRECIPITATION_sep_18
PRECIPITATION_aug_18
PRECIPITATION_jul_18
PRECIPITATION_jun_18
PRECIPITATION_may_18
PRECIPITATION_apr_18
PRECIPITATION_mar_18
PRECIPITATION_feb_18
PRECIPITATION_jan_18
COD_DPTO
NOM_DPTO
Municipality code
NOM_MPIO
TIPO
LATITUD
LONGITUD
PrePAnual_2015
PrePAnual_2016
PrePAnual_2017
PrePAnual_2018
TEMPERATURE_dec_15
TEMPERATURE_nov_15
TEMPERATURE_oct_15
TEMPERATURE_sep_15
TEMPERATURE_aug_15
TEMPERATURE_jul_15
TEMPERATURE_jun_15
TEMPERATURE_may_15
TEMPERATURE_apr_15
TEMPERATURE_mar_15
TEMPERATURE_feb_15
TEMPERATURE_jan_15
TEMPERATURE_dec_16
TEMPERATURE_nov_16
TEMPERATURE_oct_16
TEMPERATURE_sep_16
TEMPERATURE_aug_16
TEMPERATURE_jul_16
TEMPERATURE_jun_16
TEMPERATURE_may_16
TEMPERATURE_apr_16
TEMPERATURE_mar_16
TEMPERATURE_feb_16
TEMPERATURE_jan_16
TEMPERATURE_dec_17
TEMPERATURE_nov_17
TEMPERATURE_oct_17
TEMPERATURE_sep_17
TEMPERATURE_aug_17
TEMPERATURE_jul_17
TEMPERATURE_jun_17
TEMPERATURE_may_17
TEMPERATURE_apr_17
TEMPERATURE_mar_17
TEMPERATURE_feb_17
TEMPERATURE_jan_17
TEMPERATURE_dec_18
TEMPERATURE_nov_18
TEMPERATURE_oct_18
TEMPERATURE_sep_18
TEMPERATURE_aug_18
TEMPERATURE_jul_18
TEMPERATURE_jun_18
TEMPERATURE_may_18
TEMPERATURE_apr_18
TEMPERATURE_mar_18
TEMPERATURE_feb_18
TEMPERATURE_jan_18
TMAnual_2015
TMAnual_2016
TMAnual_2017
TMAnual_2018
State code
State
Municipality
Population 2015
Population 2016
Population 2017
Population 2018
Population 2019
Cases 2015
Cases 2016
Cases 2017
Cases 2018
Cases 2019
Age 0-4 (%)
Age 5-14 (%)
Age 15-29 (%)
Age >30 (%)
Afrocolombian Population (%)
Indian Population (%)
People with Disabilities (%)
People who cannot read or write (%)
Secondary/Higher Education (%)
Employed population (%)
Unemployed population (%)
People doing housework (%)
Retired people (%)
Men (%)
Women (%)
Households without water access (%)
Households without internet access (%)
Building stratification 1 (%)
Building stratification 2 (%)
Building stratification 3 (%)
Building stratification 4 (%)
Building stratification 5 (%)
Building stratification 6 (%)
Number of hospitals per Km2
Number of houses per Km2

In [ ]:
worldclim_temp_prec_socidemographic_df = worldclim_temp_prec_socidemographic_df.drop(['COD_DPTO',
                                                                                      'NOM_DPTO',
                                                                                      'NOM_MPIO',
                                                                                      'TIPO',
                                                                                      'LATITUD',
# Just to veify the columns and data set                                                                                      'LONGITUD'], 1)
"""
columns = worldclim_temp_prec_socidemographic_df.columns
for column in columns:
  print(column)
"""

worldclim_temp_prec_socidemographic_df

SyntaxError: ignored

In [ ]:
"""Download the temperature and precipitation dataframes"""
worldclim_temp_prec_socidemographic_df.to_csv(r'dengue_temperature_precipitation_2015-2019.csv')

# Round 2: Joining Wclim + Luis (Temp, Percip, Elev(only in luis) )

wclim_prec , wlcim_temp , df1_temp ,df2_perp

## worldclim_tem_prec_df -> merged percip and temp in the wclim data

In [ ]:
worldclim_tem_prec_df = wclim_prec.merge(wlcim_temp, on=['COD_DPTO',	'NOM_DPTO',	'COD_MPIO',	'NOM_MPIO',	'TIPO',	'LATITUD',	'LONGITUD'], how='inner')
worldclim_tem_prec_df = worldclim_tem_prec_df.rename(columns={'COD_MPIO': 'Municipality code'})
#worldclim_tem_prec_df

##column names
#columns = worldclim_tem_prec_df.columns
#for column in columns:
  #print(column)

## outer join temp with percip, where there is a match btwn the two and where there is no match in either shows, so both should have NANs.

##check for nans in temp and precip
##.isna().sum().head(50)
#worldclim_tem_prec_df[worldclim_tem_prec_df.isna()]

#len(wlcim_temp)  #1121
#len(wclim_prec) #1121
#len(worldclim_tem_prec_df) #1121
worldclim_tem_prec_df[['Municipality code']]

NameError: ignored

## Round 2: Braim data for cases

In [ ]:
cases_month_week=pd.read_csv('/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/DANE_Dengue_Data_Variables_v3.csv', encoding="latin1")
#cases_month_week.head()
#cases_month_week
#len(cases_month_week) ## 1122   ## 1 state has many manucipality use muni code
cases_month_week_df = cases_month_week.rename(columns={'Municipalitycode': 'Municipality code'})
cases_month_week_df

      Statecode      State  Municipality code  ... 2019/w50  2019/w51  2019/w52
0             5  Antioquia               5001  ...       30        14         5
1             5  Antioquia               5002  ...        0         0         0
2             5  Antioquia               5004  ...        0         0         0
3             5  Antioquia               5021  ...        0         0         0
4             5  Antioquia               5030  ...        1         0         0
...         ...        ...                ...  ...      ...       ...       ...
1117         97     Vaupés              97889  ...        0         0         0
1118         99    Vichada              99001  ...        0         1         0
1119         99    Vichada              99524  ...        0         0         0
1120         99    Vichada              99624  ...        0         0         0
1121         99    Vichada              99773  ...        0         0         0

[1122 rows x 731 columns]

Inner Join the Wclim(temp + perp 1121 rows) w/ Braim Cases (1122 rows) -> only match will remain i.e. 1121 rows.
Outer join -> preserve Braim rows

In [ ]:
worldclim_tem_prec_cases_month_week_df = worldclim_tem_prec_df.merge(cases_month_week_df, on=['Municipality code'], how='outer')
#len(worldclim_tem_prec_cases_month_week_df) ##1122 1 row from the lower rows i.e. wclim_tem_prec will have nans when the cases_month_week has actual values
worldclim_tem_prec_cases_month_week_df[worldclim_tem_prec_cases_month_week_df.isna()]

      PRECIPITATION_dec_15  PRECIPITATION_nov_15  ...  2019/w51  2019/w52
0                      NaN                   NaN  ...       NaN       NaN
1                      NaN                   NaN  ...       NaN       NaN
2                      NaN                   NaN  ...       NaN       NaN
3                      NaN                   NaN  ...       NaN       NaN
4                      NaN                   NaN  ...       NaN       NaN
...                    ...                   ...  ...       ...       ...
1117                   NaN                   NaN  ...       NaN       NaN
1118                   NaN                   NaN  ...       NaN       NaN
1119                   NaN                   NaN  ...       NaN       NaN
1120                   NaN                   NaN  ...       NaN       NaN
1121                   NaN                   NaN  ...       NaN       NaN

[1122 rows x 833 columns]

In [ ]:
#print(worldclim_tem_prec_cases_month_week_df)
is_NaN = worldclim_tem_prec_cases_month_week_df. isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = worldclim_tem_prec_cases_month_week_df[row_has_NaN]
print(rows_with_NaN)
## for index 674 / row index 1121 in the inner join there is a manuciplaity code in Braim not in wlcim

#rows_with_NaN['Municipality code']
#row     municipality code
#674     47570  ##--in wlcim(nan) and cases(zero)
#worldclim_tem_prec_df['47570']
#1121    94663  ##--in the cases not in wclim

      PRECIPITATION_dec_15  PRECIPITATION_nov_15  ...  2019/w51  2019/w52
674                    NaN                   NaN  ...         0         0
1121                   NaN                   NaN  ...         0         0

[2 rows x 833 columns]

In [ ]:
#worldclim_tem_prec_df[worldclim_tem_prec_df['Municipality code'] == 47570]
#wlcim_temp[wlcim_temp['COD_MPIO'] == 47570 ]
#wclim_prec[wclim_prec['COD_MPIO'] == 47570 ]

In [ ]:
worldclim_tem_prec_cases_month_week_df.isna().sum().head(60)

PRECIPITATION_dec_15    2
PRECIPITATION_nov_15    2
PRECIPITATION_oct_15    2
PRECIPITATION_sep_15    2
PRECIPITATION_aug_15    2
PRECIPITATION_jul_15    2
PRECIPITATION_jun_15    2
PRECIPITATION_may_15    2
PRECIPITATION_apr_15    2
PRECIPITATION_mar_15    2
PRECIPITATION_feb_15    2
PRECIPITATION_jan_15    2
PRECIPITATION_dec_16    2
PRECIPITATION_nov_16    2
PRECIPITATION_oct_16    2
PRECIPITATION_sep_16    2
PRECIPITATION_aug_16    2
PRECIPITATION_jul_16    2
PRECIPITATION_jun_16    2
PRECIPITATION_may_16    2
PRECIPITATION_apr_16    2
PRECIPITATION_mar_16    2
PRECIPITATION_feb_16    2
PRECIPITATION_jan_16    2
PRECIPITATION_dec_17    2
PRECIPITATION_nov_17    2
PRECIPITATION_oct_17    2
PRECIPITATION_sep_17    2
PRECIPITATION_aug_17    2
PRECIPITATION_jul_17    2
PRECIPITATION_jun_17    2
PRECIPITATION_may_17    2
PRECIPITATION_apr_17    2
PRECIPITATION_mar_17    2
PRECIPITATION_feb_17    2
PRECIPITATION_jan_17    2
PRECIPITATION_dec_18    2
PRECIPITATION_nov_18    2
PRECIPITATION_oct_18    2
PRECIPITATION_sep_18    2
PRECIPITATION_aug_18    2
PRECIPITATION_jul_18    2
PRECIPITATION_jun_18    2
PRECIPITATION_may_18    2
PRECIPITATION_apr_18    2
PRECIPITATION_mar_18    2
PRECIPITATION_feb_18    2
PRECIPITATION_jan_18    2
COD_DPTO                1
NOM_DPTO                1
Municipality code       0
NOM_MPIO                1
TIPO                    1
LATITUD                 1
LONGITUD                1
TEMPERATURE_dec_15      2
TEMPERATURE_nov_15      2
TEMPERATURE_oct_15      2
TEMPERATURE_sep_15      2
TEMPERATURE_aug_15      2
dtype: int64

In [ ]:
##compare unique values of both data frames
worldclim_tem_prec_unique_muni_code=pd.unique(worldclim_tem_prec_df['Municipality code'])  ##take column of df joining on  #1121  
cases_month_week_df_unique_muni_code=pd.unique(cases_month_week_df['Municipality code'])  ##bigger in length with 1 extra row 1122

#0-1121  expected 1122(Braim) #  2 rows with nans -> 1 row w/Nan in wclim, other row w/Nan is in Braim not in Wclim

#list_incases_notinwclim = [item for item in cases_month_week_df_unique_muni_code if item not in worldclim_tem_prec_unique_muni_code]
#list_incases_notinwclim  ##manucip 94663 in the cases not in wlcim

list_inwclim_notincases = [item for item in worldclim_tem_prec_unique_muni_code if item not in cases_month_week_df_unique_muni_code]
list_inwclim_notincases

#list_intemp_notinrainfall = [item for item in temp_muni_unique if item not in rain_muni_unique]
#list_intemp_notinrainfall

#rain_dept_unique=pd.unique(rainfall.Department_Name)
#rainfall
#len(unique_values) ## 32 values
#rain_muni_unique=pd.unique(rainfall.Municipality_Name)

[]

In [ ]:
#df.dropna()
#Keep these manuciplaity code -> nans only for temp_percip ..there is data for cases
#674     47570
#1121    94663

In [ ]:
#column_names=[]
for col in worldclim_tem_prec_cases_month_week_df.columns:
  print(col)

PRECIPITATION_dec_15
PRECIPITATION_nov_15
PRECIPITATION_oct_15
PRECIPITATION_sep_15
PRECIPITATION_aug_15
PRECIPITATION_jul_15
PRECIPITATION_jun_15
PRECIPITATION_may_15
PRECIPITATION_apr_15
PRECIPITATION_mar_15
PRECIPITATION_feb_15
PRECIPITATION_jan_15
PRECIPITATION_dec_16
PRECIPITATION_nov_16
PRECIPITATION_oct_16
PRECIPITATION_sep_16
PRECIPITATION_aug_16
PRECIPITATION_jul_16
PRECIPITATION_jun_16
PRECIPITATION_may_16
PRECIPITATION_apr_16
PRECIPITATION_mar_16
PRECIPITATION_feb_16
PRECIPITATION_jan_16
PRECIPITATION_dec_17
PRECIPITATION_nov_17
PRECIPITATION_oct_17
PRECIPITATION_sep_17
PRECIPITATION_aug_17
PRECIPITATION_jul_17
PRECIPITATION_jun_17
PRECIPITATION_may_17
PRECIPITATION_apr_17
PRECIPITATION_mar_17
PRECIPITATION_feb_17
PRECIPITATION_jan_17
PRECIPITATION_dec_18
PRECIPITATION_nov_18
PRECIPITATION_oct_18
PRECIPITATION_sep_18
PRECIPITATION_aug_18
PRECIPITATION_jul_18
PRECIPITATION_jun_18
PRECIPITATION_may_18
PRECIPITATION_apr_18
PRECIPITATION_mar_18
PRECIPITATION_feb_18
PRECIPITATION_jan_18
COD_DPTO
NOM_DPTO
Municipality code
NOM_MPIO
TIPO
LATITUD
LONGITUD
TEMPERATURE_dec_15
TEMPERATURE_nov_15
TEMPERATURE_oct_15
TEMPERATURE_sep_15
TEMPERATURE_aug_15
TEMPERATURE_jul_15
TEMPERATURE_jun_15
TEMPERATURE_may_15
TEMPERATURE_apr_15
TEMPERATURE_mar_15
TEMPERATURE_feb_15
TEMPERATURE_jan_15
TEMPERATURE_dec_16
TEMPERATURE_nov_16
TEMPERATURE_oct_16
TEMPERATURE_sep_16
TEMPERATURE_aug_16
TEMPERATURE_jul_16
TEMPERATURE_jun_16
TEMPERATURE_may_16
TEMPERATURE_apr_16
TEMPERATURE_mar_16
TEMPERATURE_feb_16
TEMPERATURE_jan_16
TEMPERATURE_dec_17
TEMPERATURE_nov_17
TEMPERATURE_oct_17
TEMPERATURE_sep_17
TEMPERATURE_aug_17
TEMPERATURE_jul_17
TEMPERATURE_jun_17
TEMPERATURE_may_17
TEMPERATURE_apr_17
TEMPERATURE_mar_17
TEMPERATURE_feb_17
TEMPERATURE_jan_17
TEMPERATURE_dec_18
TEMPERATURE_nov_18
TEMPERATURE_oct_18
TEMPERATURE_sep_18
TEMPERATURE_aug_18
TEMPERATURE_jul_18
TEMPERATURE_jun_18
TEMPERATURE_may_18
TEMPERATURE_apr_18
TEMPERATURE_mar_18
TEMPERATURE_feb_18
TEMPERATURE_jan_18
Statecode
State
Municipality
Population2007
Population2008
Population2009
Population2010
Population2011
Population2012
Population2013
Population2014
Population2015
Population2016
Population2017
Population2018
Population2019
Cases2007
Cases2008
Cases2009
Cases2010
Cases2011
Cases2012
Cases2013
Cases2014
Cases2015
Cases2016
Cases2017
Cases2018
Cases2019
Age0-4(%)
Age5-14(%)
Age15-29(%)
Age>30(%)
AfrocolombianPopulation(%)
IndianPopulation(%)
PeoplewithDisabilities(%)
Peoplewhocannotreadorwrite(%)
Secondary/HigherEducation(%)
Employedpopulation(%)
Unemployedpopulation(%)
Peopledoinghousework(%)
Retiredpeople(%)
Men(%)
Women(%)
Householdswithoutwateraccess(%)
Householdswithoutinternetaccess(%)
Buildingstratification1(%)
Buildingstratification2(%)
Buildingstratification3(%)
Buildingstratification4(%)
Buildingstratification5(%)
Buildingstratification6(%)
NumberofhospitalsperKm2
NumberofhousesperKm2
2007/w01
2007/w02
2007/w03
2007/w04
2007/w05
2007/w06
2007/w07
2007/w08
2007/w09
2007/w10
2007/w11
2007/w12
2007/w13
2007/w14
2007/w15
2007/w16
2007/w17
2007/w18
2007/w19
2007/w20
2007/w21
2007/w22
2007/w23
2007/w24
2007/w25
2007/w26
2007/w27
2007/w28
2007/w29
2007/w30
2007/w31
2007/w32
2007/w33
2007/w34
2007/w35
2007/w36
2007/w37
2007/w38
2007/w39
2007/w40
2007/w41
2007/w42
2007/w43
2007/w44
2007/w45
2007/w46
2007/w47
2007/w48
2007/w49
2007/w50
2007/w51
2007/w52
2008/w01
2008/w02
2008/w03
2008/w04
2008/w05
2008/w06
2008/w07
2008/w08
2008/w09
2008/w10
2008/w11
2008/w12
2008/w13
2008/w14
2008/w15
2008/w16
2008/w17
2008/w18
2008/w19
2008/w20
2008/w21
2008/w22
2008/w23
2008/w24
2008/w25
2008/w26
2008/w27
2008/w28
2008/w29
2008/w30
2008/w31
2008/w32
2008/w33
2008/w34
2008/w35
2008/w36
2008/w37
2008/w38
2008/w39
2008/w40
2008/w41
2008/w42
2008/w43
2008/w44
2008/w45
2008/w46
2008/w47
2008/w48
2008/w49
2008/w50
2008/w51
2008/w52
2009/w01
2009/w02
2009/w03
2009/w04
2009/w05
2009/w06
2009/w07
2009/w08
2009/w09
2009/w10
2009/w11
2009/w12
2009/w13
2009/w14
2009/w15
2009/w16
2009/w17
2009/w18
2009/w19
2009/w20
2009/w21
2009/w22
2009/w23
2009/w24
2009/w25
2009/w26
2009/w27
2009/w28
2009/w29
2009/w30
2009/w31
2009/w32
2009/w33
2009/w34
2009/w35
2009/w36
2009/w37
2009/w38
2009/w39
2009/w40
2009/w41
2009/w42
2009/w43
2009/w44
2009/w45
2009/w46
2009/w47
2009/w48
2009/w49
2009/w50
2009/w51
2009/w52
2010/w01
2010/w02
2010/w03
2010/w04
2010/w05
2010/w06
2010/w07
2010/w08
2010/w09
2010/w10
2010/w11
2010/w12
2010/w13
2010/w14
2010/w15
2010/w16
2010/w17
2010/w18
2010/w19
2010/w20
2010/w21
2010/w22
2010/w23
2010/w24
2010/w25
2010/w26
2010/w27
2010/w28
2010/w29
2010/w30
2010/w31
2010/w32
2010/w33
2010/w34
2010/w35
2010/w36
2010/w37
2010/w38
2010/w39
2010/w40
2010/w41
2010/w42
2010/w43
2010/w44
2010/w45
2010/w46
2010/w47
2010/w48
2010/w49
2010/w50
2010/w51
2010/w52
2011/w01
2011/w02
2011/w03
2011/w04
2011/w05
2011/w06
2011/w07
2011/w08
2011/w09
2011/w10
2011/w11
2011/w12
2011/w13
2011/w14
2011/w15
2011/w16
2011/w17
2011/w18
2011/w19
2011/w20
2011/w21
2011/w22
2011/w23
2011/w24
2011/w25
2011/w26
2011/w27
2011/w28
2011/w29
2011/w30
2011/w31
2011/w32
2011/w33
2011/w34
2011/w35
2011/w36
2011/w37
2011/w38
2011/w39
2011/w40
2011/w41
2011/w42
2011/w43
2011/w44
2011/w45
2011/w46
2011/w47
2011/w48
2011/w49
2011/w50
2011/w51
2011/w52
2012/w01
2012/w02
2012/w03
2012/w04
2012/w05
2012/w06
2012/w07
2012/w08
2012/w09
2012/w10
2012/w11
2012/w12
2012/w13
2012/w14
2012/w15
2012/w16
2012/w17
2012/w18
2012/w19
2012/w20
2012/w21
2012/w22
2012/w23
2012/w24
2012/w25
2012/w26
2012/w27
2012/w28
2012/w29
2012/w30
2012/w31
2012/w32
2012/w33
2012/w34
2012/w35
2012/w36
2012/w37
2012/w38
2012/w39
2012/w40
2012/w41
2012/w42
2012/w43
2012/w44
2012/w45
2012/w46
2012/w47
2012/w48
2012/w49
2012/w50
2012/w51
2012/w52
2013/w01
2013/w02
2013/w03
2013/w04
2013/w05
2013/w06
2013/w07
2013/w08
2013/w09
2013/w10
2013/w11
2013/w12
2013/w13
2013/w14
2013/w15
2013/w16
2013/w17
2013/w18
2013/w19
2013/w20
2013/w21
2013/w22
2013/w23
2013/w24
2013/w25
2013/w26
2013/w27
2013/w28
2013/w29
2013/w30
2013/w31
2013/w32
2013/w33
2013/w34
2013/w35
2013/w36
2013/w37
2013/w38
2013/w39
2013/w40
2013/w41
2013/w42
2013/w43
2013/w44
2013/w45
2013/w46
2013/w47
2013/w48
2013/w49
2013/w50
2013/w51
2013/w52
2014/w01
2014/w02
2014/w03
2014/w04
2014/w05
2014/w06
2014/w07
2014/w08
2014/w09
2014/w10
2014/w11
2014/w12
2014/w13
2014/w14
2014/w15
2014/w16
2014/w17
2014/w18
2014/w19
2014/w20
2014/w21
2014/w22
2014/w23
2014/w24
2014/w25
2014/w26
2014/w27
2014/w28
2014/w29
2014/w30
2014/w31
2014/w32
2014/w33
2014/w34
2014/w35
2014/w36
2014/w37
2014/w38
2014/w39
2014/w40
2014/w41
2014/w42
2014/w43
2014/w44
2014/w45
2014/w46
2014/w47
2014/w48
2014/w49
2014/w50
2014/w51
2014/w52
2015/w01
2015/w02
2015/w03
2015/w04
2015/w05
2015/w06
2015/w07
2015/w08
2015/w09
2015/w10
2015/w11
2015/w12
2015/w13
2015/w14
2015/w15
2015/w16
2015/w17
2015/w18
2015/w19
2015/w20
2015/w21
2015/w22
2015/w23
2015/w24
2015/w25
2015/w26
2015/w27
2015/w28
2015/w29
2015/w30
2015/w31
2015/w32
2015/w33
2015/w34
2015/w35
2015/w36
2015/w37
2015/w38
2015/w39
2015/w40
2015/w41
2015/w42
2015/w43
2015/w44
2015/w45
2015/w46
2015/w47
2015/w48
2015/w49
2015/w50
2015/w51
2015/w52
2016/w01
2016/w02
2016/w03
2016/w04
2016/w05
2016/w06
2016/w07
2016/w08
2016/w09
2016/w10
2016/w11
2016/w12
2016/w13
2016/w14
2016/w15
2016/w16
2016/w17
2016/w18
2016/w19
2016/w20
2016/w21
2016/w22
2016/w23
2016/w24
2016/w25
2016/w26
2016/w27
2016/w28
2016/w29
2016/w30
2016/w31
2016/w32
2016/w33
2016/w34
2016/w35
2016/w36
2016/w37
2016/w38
2016/w39
2016/w40
2016/w41
2016/w42
2016/w43
2016/w44
2016/w45
2016/w46
2016/w47
2016/w48
2016/w49
2016/w50
2016/w51
2016/w52
2017/w01
2017/w02
2017/w03
2017/w04
2017/w05
2017/w06
2017/w07
2017/w08
2017/w09
2017/w10
2017/w11
2017/w12
2017/w13
2017/w14
2017/w15
2017/w16
2017/w17
2017/w18
2017/w19
2017/w20
2017/w21
2017/w22
2017/w23
2017/w24
2017/w25
2017/w26
2017/w27
2017/w28
2017/w29
2017/w30
2017/w31
2017/w32
2017/w33
2017/w34
2017/w35
2017/w36
2017/w37
2017/w38
2017/w39
2017/w40
2017/w41
2017/w42
2017/w43
2017/w44
2017/w45
2017/w46
2017/w47
2017/w48
2017/w49
2017/w50
2017/w51
2017/w52
2018/w01
2018/w02
2018/w03
2018/w04
2018/w05
2018/w06
2018/w07
2018/w08
2018/w09
2018/w10
2018/w11
2018/w12
2018/w13
2018/w14
2018/w15
2018/w16
2018/w17
2018/w18
2018/w19
2018/w20
2018/w21
2018/w22
2018/w23
2018/w24
2018/w25
2018/w26
2018/w27
2018/w28
2018/w29
2018/w30
2018/w31
2018/w32
2018/w33
2018/w34
2018/w35
2018/w36
2018/w37
2018/w38
2018/w39
2018/w40
2018/w41
2018/w42
2018/w43
2018/w44
2018/w45
2018/w46
2018/w47
2018/w48
2018/w49
2018/w50
2018/w51
2018/w52
2019/w01
2019/w02
2019/w03
2019/w04
2019/w05
2019/w06
2019/w07
2019/w08
2019/w09
2019/w10
2019/w11
2019/w12
2019/w13
2019/w14
2019/w15
2019/w16
2019/w17
2019/w18
2019/w19
2019/w20
2019/w21
2019/w22
2019/w23
2019/w24
2019/w25
2019/w26
2019/w27
2019/w28
2019/w29
2019/w30
2019/w31
2019/w32
2019/w33
2019/w34
2019/w35
2019/w36
2019/w37
2019/w38
2019/w39
2019/w40
2019/w41
2019/w42
2019/w43
2019/w44
2019/w45
2019/w46
2019/w47
2019/w48
2019/w49
2019/w50
2019/w51
2019/w52

END

In [ ]:
worldclim_tem_prec_cases_month_week_df[worldclim_tem_prec_cases_month_week_df.LATITUD==5.691000]

Empty DataFrame
Columns: [PRECIPITATION_dec_15, PRECIPITATION_nov_15, PRECIPITATION_oct_15, PRECIPITATION_sep_15, PRECIPITATION_aug_15, PRECIPITATION_jul_15, PRECIPITATION_jun_15, PRECIPITATION_may_15, PRECIPITATION_apr_15, PRECIPITATION_mar_15, PRECIPITATION_feb_15, PRECIPITATION_jan_15, PRECIPITATION_dec_16, PRECIPITATION_nov_16, PRECIPITATION_oct_16, PRECIPITATION_sep_16, PRECIPITATION_aug_16, PRECIPITATION_jul_16, PRECIPITATION_jun_16, PRECIPITATION_may_16, PRECIPITATION_apr_16, PRECIPITATION_mar_16, PRECIPITATION_feb_16, PRECIPITATION_jan_16, PRECIPITATION_dec_17, PRECIPITATION_nov_17, PRECIPITATION_oct_17, PRECIPITATION_sep_17, PRECIPITATION_aug_17, PRECIPITATION_jul_17, PRECIPITATION_jun_17, PRECIPITATION_may_17, PRECIPITATION_apr_17, PRECIPITATION_mar_17, PRECIPITATION_feb_17, PRECIPITATION_jan_17, PRECIPITATION_dec_18, PRECIPITATION_nov_18, PRECIPITATION_oct_18, PRECIPITATION_sep_18, PRECIPITATION_aug_18, PRECIPITATION_jul_18, PRECIPITATION_jun_18, PRECIPITATION_may_18, PRECIPITATION_apr_18, PRECIPITATION_mar_18, PRECIPITATION_feb_18, PRECIPITATION_jan_18, COD_DPTO, NOM_DPTO, Municipality code, NOM_MPIO, TIPO, LATITUD, LONGITUD, TEMPERATURE_dec_15, TEMPERATURE_nov_15, TEMPERATURE_oct_15, TEMPERATURE_sep_15, TEMPERATURE_aug_15, TEMPERATURE_jul_15, TEMPERATURE_jun_15, TEMPERATURE_may_15, TEMPERATURE_apr_15, TEMPERATURE_mar_15, TEMPERATURE_feb_15, TEMPERATURE_jan_15, TEMPERATURE_dec_16, TEMPERATURE_nov_16, TEMPERATURE_oct_16, TEMPERATURE_sep_16, TEMPERATURE_aug_16, TEMPERATURE_jul_16, TEMPERATURE_jun_16, TEMPERATURE_may_16, TEMPERATURE_apr_16, TEMPERATURE_mar_16, TEMPERATURE_feb_16, TEMPERATURE_jan_16, TEMPERATURE_dec_17, TEMPERATURE_nov_17, TEMPERATURE_oct_17, TEMPERATURE_sep_17, TEMPERATURE_aug_17, TEMPERATURE_jul_17, TEMPERATURE_jun_17, TEMPERATURE_may_17, TEMPERATURE_apr_17, TEMPERATURE_mar_17, TEMPERATURE_feb_17, TEMPERATURE_jan_17, TEMPERATURE_dec_18, TEMPERATURE_nov_18, TEMPERATURE_oct_18, TEMPERATURE_sep_18, TEMPERATURE_aug_18, TEMPERATURE_jul_18, TEMPERATURE_jun_18, TEMPERATURE_may_18, TEMPERATURE_apr_18, ...]
Index: []

[0 rows x 833 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df[worldclim_tem_prec_cases_month_week_df.LONGITUD==-69.940917]

Empty DataFrame
Columns: [PRECIPITATION_dec_15, PRECIPITATION_nov_15, PRECIPITATION_oct_15, PRECIPITATION_sep_15, PRECIPITATION_aug_15, PRECIPITATION_jul_15, PRECIPITATION_jun_15, PRECIPITATION_may_15, PRECIPITATION_apr_15, PRECIPITATION_mar_15, PRECIPITATION_feb_15, PRECIPITATION_jan_15, PRECIPITATION_dec_16, PRECIPITATION_nov_16, PRECIPITATION_oct_16, PRECIPITATION_sep_16, PRECIPITATION_aug_16, PRECIPITATION_jul_16, PRECIPITATION_jun_16, PRECIPITATION_may_16, PRECIPITATION_apr_16, PRECIPITATION_mar_16, PRECIPITATION_feb_16, PRECIPITATION_jan_16, PRECIPITATION_dec_17, PRECIPITATION_nov_17, PRECIPITATION_oct_17, PRECIPITATION_sep_17, PRECIPITATION_aug_17, PRECIPITATION_jul_17, PRECIPITATION_jun_17, PRECIPITATION_may_17, PRECIPITATION_apr_17, PRECIPITATION_mar_17, PRECIPITATION_feb_17, PRECIPITATION_jan_17, PRECIPITATION_dec_18, PRECIPITATION_nov_18, PRECIPITATION_oct_18, PRECIPITATION_sep_18, PRECIPITATION_aug_18, PRECIPITATION_jul_18, PRECIPITATION_jun_18, PRECIPITATION_may_18, PRECIPITATION_apr_18, PRECIPITATION_mar_18, PRECIPITATION_feb_18, PRECIPITATION_jan_18, COD_DPTO, NOM_DPTO, Municipality code, NOM_MPIO, TIPO, LATITUD, LONGITUD, TEMPERATURE_dec_15, TEMPERATURE_nov_15, TEMPERATURE_oct_15, TEMPERATURE_sep_15, TEMPERATURE_aug_15, TEMPERATURE_jul_15, TEMPERATURE_jun_15, TEMPERATURE_may_15, TEMPERATURE_apr_15, TEMPERATURE_mar_15, TEMPERATURE_feb_15, TEMPERATURE_jan_15, TEMPERATURE_dec_16, TEMPERATURE_nov_16, TEMPERATURE_oct_16, TEMPERATURE_sep_16, TEMPERATURE_aug_16, TEMPERATURE_jul_16, TEMPERATURE_jun_16, TEMPERATURE_may_16, TEMPERATURE_apr_16, TEMPERATURE_mar_16, TEMPERATURE_feb_16, TEMPERATURE_jan_16, TEMPERATURE_dec_17, TEMPERATURE_nov_17, TEMPERATURE_oct_17, TEMPERATURE_sep_17, TEMPERATURE_aug_17, TEMPERATURE_jul_17, TEMPERATURE_jun_17, TEMPERATURE_may_17, TEMPERATURE_apr_17, TEMPERATURE_mar_17, TEMPERATURE_feb_17, TEMPERATURE_jan_17, TEMPERATURE_dec_18, TEMPERATURE_nov_18, TEMPERATURE_oct_18, TEMPERATURE_sep_18, TEMPERATURE_aug_18, TEMPERATURE_jul_18, TEMPERATURE_jun_18, TEMPERATURE_may_18, TEMPERATURE_apr_18, ...]
Index: []

[0 rows x 833 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df[['LATITUD','LONGITUD']]

       LATITUD   LONGITUD
0     6.257590 -75.611031
1     5.803728 -75.438474
2     6.627569 -76.085978
3     6.365534 -75.090597
4     6.032922 -75.708003
...        ...        ...
1117  5.836530 -68.141222
1118  5.517594 -69.620441
1119  4.968581 -70.659971
1120  4.262455 -69.521405
1121       NaN        NaN

[1122 rows x 2 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df.NOM_MPIO

0             MEDELLIN
1            ABEJORRAL
2             ABRIAQUI
3           ALEJANDRIA
4                AMAGA
             ...
1117    PUERTO CARRENO
1118      LA PRIMAVERA
1119     SANTA ROSALIA
1120          CUMARIBO
1121               NaN
Name: NOM_MPIO, Length: 1122, dtype: object

In [ ]:
##Temperatura and Percipitation (Luis) google sheets 
df1_temp
####
#df2_perp

       CODIGO CAT              NOMBRE  ... UTM zone Easting (m)  Northing (m)
0    48015010  SP      A.Vasquez Cobo  ...  #ERROR!         NaN           NaN
1    23085030  CO          Alejandria  ...  #ERROR!         NaN           NaN
2    26195020  CO           Ita Andes  ...  #ERROR!         NaN           NaN
3    27025030  CO               Anori  ...  #ERROR!         NaN           NaN
4    12015020  AM              Uniban  ...  #ERROR!         NaN           NaN
..        ...  ..                 ...  ...      ...         ...           ...
462  33055010  CO            Cumaribo  ...  #ERROR!         NaN           NaN
463  34015010  SP        Gaviotas Las  ...  #ERROR!         NaN           NaN
464  34035020  CO            Tapon El  ...  #ERROR!         NaN           NaN
465  34035010  CO  Tuparro Bocas Tomo  ...  #ERROR!         NaN           NaN
466  38015030  CP    Apto Pto Carreno  ...  #ERROR!         NaN           NaN

[467 rows x 60 columns]

## wclim data temp + prep (2015-2018) + cases (2007-2019) {To add: 2007-2009 (temp we have, prep load) from (wclim 2000-2009)} ->need to subset for 2007
## {Next step: combine with elev + old temp/precp from luis(1900-2000) [2007-2018 goal]} -> need to rename change or code? match on pairs of dep + manu//match lat/lon? 
##anything else in common...
## Update on github

mdana3474@gmail.com
https://github.com/MITCriticalData-Colombia/Dengue-MetaData/tree/Dengue_Temperature_Precipitation+%2B

Round 2: START Required data

In [ ]:
required_data=pd.read_csv('/content/drive/MyDrive/Dengue_GIS Visualization/Dengue_GIS_Visualization/DengueData/required_data.csv', encoding="latin1")

In [ ]:
worldclim_tem_prec_cases_month_week_df['Municipality']

0             Medellín
1            Abejorral
2             Abriaquí
3           Alejandría
4                Amagá
             ...
1117    Puerto Carreño
1118      La Primavera
1119     Santa Rosalía
1120          Cumaribo
1121        Mapiripana
Name: Municipality, Length: 1122, dtype: object

END

In [ ]:
#required_data = required_data[['State','Municipality']]
#len(required_data)  ##458
#original_rd=required_data.Municipality.tolist()

In [ ]:
list_muncip_state=[]
for index, row in required_data.iterrows():
    #print(row['State'], row['Municipality'])
#list_muncip 
    #if row['Municipality'] not in list_muncip_state[:,1] and row['State'] not in list_muncip_state[:,0]:
    #list_muncip.append([row['State'], row['Municipality']])
    if row['Municipality'] not in list_muncip_state[:1]:
      list_muncip_state.append([row['State'], row['Municipality']])
    else:
      if row['State'] == list_muncip_state[row['State']]:
        print(f"we have duplicate of {row['Municipality']} , {row['State']}")
        #pass

In [ ]:
unique_rd=pd.unique(required_data.Municipality)  ##43
unique_rd

array(['Alejandria', 'Amaga', 'Amalfi', 'Andes', 'Angelopolis',
       'Angostura', 'Anori', 'Anza', 'Apartado', 'Arboletes', 'Barbosa',
       'Bello', 'Belmira', 'Betania', 'Betulia', 'Briceno', 'Buritica',
       'Caceres', 'Caicedo', 'Caldas', 'Campamento', 'Canasgordas',
       'Caracoli', 'Caramanta', 'Carepa', 'Carolina', 'Caucasia',
       'Chigorodo', 'Cisneros', 'Ciudad Bolivar', 'Cocorna', 'Concepcion',
       'Concordia', 'Copacabana', 'Dabeiba', 'Donmatias', 'Ebejico',
       'El Bagre', 'El Carmen de Viboral', 'El Santuario', 'Entrerrios',
       'Envigado', 'Fredonia', 'Frontino', 'Giraldo', 'Girardota',
       'Gomez Plata', 'Granada', 'Guadalupe', 'Guarne', 'Guatape',
       'Heliconia', 'Hispania', 'Ituango', 'Jardin', 'Jerico', 'La Ceja',
       'La Pintada', 'La Union', 'Liborina', 'Maceo', 'Marinilla',
       'Medellin', 'Montebello', 'Murindo', 'Mutata', 'Narino', 'Nechi',
       'Necocli', 'Olaya', 'Peque', 'Pueblorrico', 'Puerto Berrio',
       'Puerto Nare', 'Puerto Triunfo', 'Remedios', 'Retiro', 'Rionegro',
       'Sabanalarga', 'Salgar', 'San Andres de Cuerquia', 'San Carlos',
       'San Jeronimo', 'San Jose de La Montana', 'San Juan de Uraba',
       'San Luis', 'San Pedro de Los Milagros', 'San Pedro de Uraba',
       'San Rafael', 'San Roque', 'Santa Barbara',
       'Santa Fe de Antioquia', 'Santa Rosa de Osos', 'Santo Domingo',
       'Segovia', 'Sonson', 'Sopetran', 'Tamesis', 'Taraza', 'Tarso',
       'Titiribi', 'Toledo', 'Turbo', 'Uramita', 'Urrao', 'Valdivia',
       'Vegachi', 'Venecia', 'Vigia del Fuerte', 'Yali', 'Yarumal',
       'Yolombo', 'Yondo', 'Zaragoza', 'Almaguer', 'Argelia', 'Balboa',
       'Bolivar', 'Buenos Aires', 'Cajibio', 'Caldono', 'Caloto',
       'Corinto', 'El Tambo', 'Florencia', 'Guachene', 'Guapi', 'Inza',
       'Jambalo', 'La Sierra', 'La Vega', 'Mercaderes', 'Miranda',
       'Morales', 'Padilla', 'Piamonte', 'Popayan', 'Puerto Tejada',
       'Rosas', 'San Sebastian', 'Santa Rosa', 'Santander de Quilichao',
       'Suarez', 'Timbio', 'Timbiqui', 'Toribio', 'Totoro', 'Villa Rica',
       'Agua de Dios', 'Anapoima', 'Anolaima', 'Apulo', 'Arbelaez',
       'Beltran', 'Bituima', 'Bojaca', 'Cabrera', 'Cachipay', 'Cajica',
       'Caparrapi', 'Caqueza', 'Chaguani', 'Chia', 'Chipaque', 'Choachi',
       'Choconta', 'Cogua', 'Cota', 'Cucunuba', 'El Colegio', 'El Penon',
       'El Rosal', 'Facatativa', 'Fomeque', 'Fosca', 'Funza', 'Fuquene',
       'Fusagasuga', 'Gachala', 'Gachancipa', 'Gacheta', 'Gama',
       'Girardot', 'Guacheta', 'Guaduas', 'Guasca', 'Guataqui',
       'Guatavita', 'Guayabetal', 'Gutierrez', 'Jerusalen', 'Junin',
       'La Calera', 'La Mesa', 'La Palma', 'La Pena', 'Lenguazaque',
       'Macheta', 'Madrid', 'Manta', 'Medina', 'Mosquera', 'Nemocon',
       'Nilo', 'Nocaima', 'Pacho', 'Paime', 'Pandi', 'Paratebueno',
       'Pasca', 'Puerto Salgar', 'Puli', 'Quebradanegra', 'Quetame',
       'Quipile', 'Ricaurte', 'San Bernardo', 'San Francisco',
       'San Juan de Rioseco', 'Sasaima', 'Sesquile', 'Sibate', 'Silvania',
       'Simijaca', 'Sopo', 'Subachoque', 'Suesca', 'Supata', 'Susa',
       'Sutatausa', 'Tabio', 'Tausa', 'Tena', 'Tenjo', 'Tibacuy',
       'Tibirita', 'Tocaima', 'Tocancipa', 'Topaipi', 'Ubala', 'Ubaque',
       'Une', 'Utica', 'Vergara', 'Viani', 'Villa de San Diego de Ubate',
       'Villagomez', 'Villapinzon', 'Villeta', 'Viota', 'Yacopi',
       'Zipaquira', 'Acevedo', 'Agrado', 'Aipe', 'Algeciras', 'Altamira',
       'Baraya', 'Campoalegre', 'Colombia', 'Elias', 'Garzon', 'Gigante',
       'Hobo', 'Iquira', 'La Argentina', 'La Plata', 'Nataga', 'Neiva',
       'Oporapa', 'Paicol', 'Palermo', 'Palestina', 'Pital', 'Pitalito',
       'Rivera', 'Saladoblanco', 'San Agustin', 'Santa Maria', 'Suaza',
       'Tarqui', 'Tello', 'Teruel', 'Tesalia', 'Timana', 'Villavieja',
       'Yaguara', 'Aguada', 'Albania', 'Aratoca', 'Barichara',
       'Barrancabermeja', 'Bucaramanga', 'California', 'Capitanejo',
       'Carcasi', 'Cepita', 'Cerrito', 'Charala', 'Charta', 'Chima',
       'Chipata', 'Cimitarra', 'Confines', 'Contratacion', 'Coromoro',
       'Curiti', 'El Carmen de Chucuri', 'El Guacamayo', 'El Playon',
       'Encino', 'Enciso', 'Florian', 'Floridablanca', 'Galan', 'Gambita',
       'Giron', 'Guaca', 'Guapota', 'Guavata', 'Hato', 'Jesus Maria',
       'La Belleza', 'La Paz', 'Landazuri', 'Lebrija', 'Los Santos',
       'Macaravita', 'Malaga', 'Matanza', 'Mogotes', 'Molagavita',
       'Ocamonte', 'Oiba', 'Onzaga', 'Palmas del Socorro', 'Paramo',
       'Piedecuesta', 'Pinchote', 'Puente Nacional', 'Puerto Parra',
       'Puerto Wilches', 'Sabana de Torres', 'San Andres', 'San Benito',
       'San Gil', 'San Joaquin', 'San Jose de Miranda', 'San Miguel',
       'San Vicente de Chucuri', 'Santa Helena del Opon', 'Simacota',
       'Socorro', 'Suaita', 'Sucre', 'Surata', 'Tona',
       'Valle de San Jose', 'Velez', 'Vetas', 'Villanueva', 'Zapatoca',
       'Alpujarra', 'Alvarado', 'Ambalema', 'Anzoategui', 'Ataco',
       'Cajamarca', 'Carmen de Apicala', 'Casabianca', 'Chaparral',
       'Coello', 'Coyaima', 'Cunday', 'Dolores', 'Falan', 'Flandes',
       'Fresno', 'Guamo', 'Herveo', 'Honda', 'Icononzo', 'Lerida',
       'Libano', 'Melgar', 'Murillo', 'Natagaima', 'Ortega',
       'Palocabildo', 'Piedras', 'Planadas', 'Prado', 'Purificacion',
       'Rioblanco', 'Roncesvalles', 'Rovira', 'Saldana', 'San Antonio',
       'Santa Isabel', 'Valle de San Juan', 'Venadillo', 'Villahermosa',
       'Villarrica', 'Alcala', 'Andalucia', 'Ansermanuevo',
       'Bugalagrande', 'Caicedonia', 'Candelaria', 'Cartago', 'Dagua',
       'El Aguila', 'El Cairo', 'El Cerrito', 'El Dovio', 'Florida',
       'Ginebra', 'Guacari', 'Guadalajara de Buga', 'Jamundi',
       'La Cumbre', 'La Victoria', 'Obando', 'Palmira', 'Pradera',
       'Restrepo', 'Riofrio', 'Roldanillo', 'San Pedro', 'Sevilla',
       'Toro', 'Trujillo', 'Tulua', 'Ulloa', 'Versalles', 'Vijes',
       'Yotoco', 'Yumbo', 'Zarzal'], dtype=object)

In [ ]:
list_in_orig_notinunique = [item for item in original_rd if item not in unique_rd]
list_in_orig_notinunique

NameError: ignored

In [ ]:
#worldclim_tem_prec_cases_month_week_df.to_csv(r'worldclim_tem_prec_cases_month_week_df.csv')
##temp, percp 2015-2018  ##cases 2007-2019  (2007 for temp and percp to add)

In [ ]:
required_data

     Unnamed: 0            State  ... monthly temperature.1  altitude
0             0        Antioquia  ...                   NaN       NaN
1             1        Antioquia  ...                   NaN       NaN
2             2        Antioquia  ...                   NaN       NaN
3             3        Antioquia  ...                   NaN       NaN
4             4        Antioquia  ...                   NaN       NaN
..          ...              ...  ...                   ...       ...
453         453  Valle del Cauca  ...                   NaN       NaN
454         454  Valle del Cauca  ...                   NaN       NaN
455         455  Valle del Cauca  ...                   NaN       NaN
456         456  Valle del Cauca  ...                   NaN       NaN
457         457  Valle del Cauca  ...                   NaN       NaN

[458 rows x 7 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df[['State','Municipality']]

          State        Municipality
0     antioquia    49.6360893249512
1     antioquia    50.9670753479004
2     antioquia    40.2052803039551
3     antioquia    50.1437835693359
4     antioquia  52.162559509277294
...         ...                 ...
1117    vichada    15.7681474685669
1118    vichada    32.1392478942871
1119    vichada  59.596031188964794
1120    vichada    50.9225997924805
1121    guainia                 nan

[1122 rows x 2 columns]

PREPROCESS Check wclim data

In [ ]:
worldclim_tem_prec_cases_month_week_df['Municipality']

0             Medellín
1            Abejorral
2             Abriaquí
3           Alejandría
4                Amagá
             ...
1117    Puerto Carreño
1118      La Primavera
1119     Santa Rosalía
1120          Cumaribo
1121        Mapiripana
Name: Municipality, Length: 1122, dtype: object

In [ ]:
for column in worldclim_tem_prec_cases_month_week_df.columns:
  print(column)

PRECIPITATION_dec_15
PRECIPITATION_nov_15
PRECIPITATION_oct_15
PRECIPITATION_sep_15
PRECIPITATION_aug_15
PRECIPITATION_jul_15
PRECIPITATION_jun_15
PRECIPITATION_may_15
PRECIPITATION_apr_15
PRECIPITATION_mar_15
PRECIPITATION_feb_15
PRECIPITATION_jan_15
PRECIPITATION_dec_16
PRECIPITATION_nov_16
PRECIPITATION_oct_16
PRECIPITATION_sep_16
PRECIPITATION_aug_16
PRECIPITATION_jul_16
PRECIPITATION_jun_16
PRECIPITATION_may_16
PRECIPITATION_apr_16
PRECIPITATION_mar_16
PRECIPITATION_feb_16
PRECIPITATION_jan_16
PRECIPITATION_dec_17
PRECIPITATION_nov_17
PRECIPITATION_oct_17
PRECIPITATION_sep_17
PRECIPITATION_aug_17
PRECIPITATION_jul_17
PRECIPITATION_jun_17
PRECIPITATION_may_17
PRECIPITATION_apr_17
PRECIPITATION_mar_17
PRECIPITATION_feb_17
PRECIPITATION_jan_17
PRECIPITATION_dec_18
PRECIPITATION_nov_18
PRECIPITATION_oct_18
PRECIPITATION_sep_18
PRECIPITATION_aug_18
PRECIPITATION_jul_18
PRECIPITATION_jun_18
PRECIPITATION_may_18
PRECIPITATION_apr_18
PRECIPITATION_mar_18
PRECIPITATION_feb_18
PRECIPITATION_jan_18
COD_DPTO
NOM_DPTO
Municipality code
NOM_MPIO
TIPO
LATITUD
LONGITUD
TEMPERATURE_dec_15
TEMPERATURE_nov_15
TEMPERATURE_oct_15
TEMPERATURE_sep_15
TEMPERATURE_aug_15
TEMPERATURE_jul_15
TEMPERATURE_jun_15
TEMPERATURE_may_15
TEMPERATURE_apr_15
TEMPERATURE_mar_15
TEMPERATURE_feb_15
TEMPERATURE_jan_15
TEMPERATURE_dec_16
TEMPERATURE_nov_16
TEMPERATURE_oct_16
TEMPERATURE_sep_16
TEMPERATURE_aug_16
TEMPERATURE_jul_16
TEMPERATURE_jun_16
TEMPERATURE_may_16
TEMPERATURE_apr_16
TEMPERATURE_mar_16
TEMPERATURE_feb_16
TEMPERATURE_jan_16
TEMPERATURE_dec_17
TEMPERATURE_nov_17
TEMPERATURE_oct_17
TEMPERATURE_sep_17
TEMPERATURE_aug_17
TEMPERATURE_jul_17
TEMPERATURE_jun_17
TEMPERATURE_may_17
TEMPERATURE_apr_17
TEMPERATURE_mar_17
TEMPERATURE_feb_17
TEMPERATURE_jan_17
TEMPERATURE_dec_18
TEMPERATURE_nov_18
TEMPERATURE_oct_18
TEMPERATURE_sep_18
TEMPERATURE_aug_18
TEMPERATURE_jul_18
TEMPERATURE_jun_18
TEMPERATURE_may_18
TEMPERATURE_apr_18
TEMPERATURE_mar_18
TEMPERATURE_feb_18
TEMPERATURE_jan_18
Statecode
State
Municipality
Population2007
Population2008
Population2009
Population2010
Population2011
Population2012
Population2013
Population2014
Population2015
Population2016
Population2017
Population2018
Population2019
Cases2007
Cases2008
Cases2009
Cases2010
Cases2011
Cases2012
Cases2013
Cases2014
Cases2015
Cases2016
Cases2017
Cases2018
Cases2019
Age0-4(%)
Age5-14(%)
Age15-29(%)
Age>30(%)
AfrocolombianPopulation(%)
IndianPopulation(%)
PeoplewithDisabilities(%)
Peoplewhocannotreadorwrite(%)
Secondary/HigherEducation(%)
Employedpopulation(%)
Unemployedpopulation(%)
Peopledoinghousework(%)
Retiredpeople(%)
Men(%)
Women(%)
Householdswithoutwateraccess(%)
Householdswithoutinternetaccess(%)
Buildingstratification1(%)
Buildingstratification2(%)
Buildingstratification3(%)
Buildingstratification4(%)
Buildingstratification5(%)
Buildingstratification6(%)
NumberofhospitalsperKm2
NumberofhousesperKm2
2007/w01
2007/w02
2007/w03
2007/w04
2007/w05
2007/w06
2007/w07
2007/w08
2007/w09
2007/w10
2007/w11
2007/w12
2007/w13
2007/w14
2007/w15
2007/w16
2007/w17
2007/w18
2007/w19
2007/w20
2007/w21
2007/w22
2007/w23
2007/w24
2007/w25
2007/w26
2007/w27
2007/w28
2007/w29
2007/w30
2007/w31
2007/w32
2007/w33
2007/w34
2007/w35
2007/w36
2007/w37
2007/w38
2007/w39
2007/w40
2007/w41
2007/w42
2007/w43
2007/w44
2007/w45
2007/w46
2007/w47
2007/w48
2007/w49
2007/w50
2007/w51
2007/w52
2008/w01
2008/w02
2008/w03
2008/w04
2008/w05
2008/w06
2008/w07
2008/w08
2008/w09
2008/w10
2008/w11
2008/w12
2008/w13
2008/w14
2008/w15
2008/w16
2008/w17
2008/w18
2008/w19
2008/w20
2008/w21
2008/w22
2008/w23
2008/w24
2008/w25
2008/w26
2008/w27
2008/w28
2008/w29
2008/w30
2008/w31
2008/w32
2008/w33
2008/w34
2008/w35
2008/w36
2008/w37
2008/w38
2008/w39
2008/w40
2008/w41
2008/w42
2008/w43
2008/w44
2008/w45
2008/w46
2008/w47
2008/w48
2008/w49
2008/w50
2008/w51
2008/w52
2009/w01
2009/w02
2009/w03
2009/w04
2009/w05
2009/w06
2009/w07
2009/w08
2009/w09
2009/w10
2009/w11
2009/w12
2009/w13
2009/w14
2009/w15
2009/w16
2009/w17
2009/w18
2009/w19
2009/w20
2009/w21
2009/w22
2009/w23
2009/w24
2009/w25
2009/w26
2009/w27
2009/w28
2009/w29
2009/w30
2009/w31
2009/w32
2009/w33
2009/w34
2009/w35
2009/w36
2009/w37
2009/w38
2009/w39
2009/w40
2009/w41
2009/w42
2009/w43
2009/w44
2009/w45
2009/w46
2009/w47
2009/w48
2009/w49
2009/w50
2009/w51
2009/w52
2010/w01
2010/w02
2010/w03
2010/w04
2010/w05
2010/w06
2010/w07
2010/w08
2010/w09
2010/w10
2010/w11
2010/w12
2010/w13
2010/w14
2010/w15
2010/w16
2010/w17
2010/w18
2010/w19
2010/w20
2010/w21
2010/w22
2010/w23
2010/w24
2010/w25
2010/w26
2010/w27
2010/w28
2010/w29
2010/w30
2010/w31
2010/w32
2010/w33
2010/w34
2010/w35
2010/w36
2010/w37
2010/w38
2010/w39
2010/w40
2010/w41
2010/w42
2010/w43
2010/w44
2010/w45
2010/w46
2010/w47
2010/w48
2010/w49
2010/w50
2010/w51
2010/w52
2011/w01
2011/w02
2011/w03
2011/w04
2011/w05
2011/w06
2011/w07
2011/w08
2011/w09
2011/w10
2011/w11
2011/w12
2011/w13
2011/w14
2011/w15
2011/w16
2011/w17
2011/w18
2011/w19
2011/w20
2011/w21
2011/w22
2011/w23
2011/w24
2011/w25
2011/w26
2011/w27
2011/w28
2011/w29
2011/w30
2011/w31
2011/w32
2011/w33
2011/w34
2011/w35
2011/w36
2011/w37
2011/w38
2011/w39
2011/w40
2011/w41
2011/w42
2011/w43
2011/w44
2011/w45
2011/w46
2011/w47
2011/w48
2011/w49
2011/w50
2011/w51
2011/w52
2012/w01
2012/w02
2012/w03
2012/w04
2012/w05
2012/w06
2012/w07
2012/w08
2012/w09
2012/w10
2012/w11
2012/w12
2012/w13
2012/w14
2012/w15
2012/w16
2012/w17
2012/w18
2012/w19
2012/w20
2012/w21
2012/w22
2012/w23
2012/w24
2012/w25
2012/w26
2012/w27
2012/w28
2012/w29
2012/w30
2012/w31
2012/w32
2012/w33
2012/w34
2012/w35
2012/w36
2012/w37
2012/w38
2012/w39
2012/w40
2012/w41
2012/w42
2012/w43
2012/w44
2012/w45
2012/w46
2012/w47
2012/w48
2012/w49
2012/w50
2012/w51
2012/w52
2013/w01
2013/w02
2013/w03
2013/w04
2013/w05
2013/w06
2013/w07
2013/w08
2013/w09
2013/w10
2013/w11
2013/w12
2013/w13
2013/w14
2013/w15
2013/w16
2013/w17
2013/w18
2013/w19
2013/w20
2013/w21
2013/w22
2013/w23
2013/w24
2013/w25
2013/w26
2013/w27
2013/w28
2013/w29
2013/w30
2013/w31
2013/w32
2013/w33
2013/w34
2013/w35
2013/w36
2013/w37
2013/w38
2013/w39
2013/w40
2013/w41
2013/w42
2013/w43
2013/w44
2013/w45
2013/w46
2013/w47
2013/w48
2013/w49
2013/w50
2013/w51
2013/w52
2014/w01
2014/w02
2014/w03
2014/w04
2014/w05
2014/w06
2014/w07
2014/w08
2014/w09
2014/w10
2014/w11
2014/w12
2014/w13
2014/w14
2014/w15
2014/w16
2014/w17
2014/w18
2014/w19
2014/w20
2014/w21
2014/w22
2014/w23
2014/w24
2014/w25
2014/w26
2014/w27
2014/w28
2014/w29
2014/w30
2014/w31
2014/w32
2014/w33
2014/w34
2014/w35
2014/w36
2014/w37
2014/w38
2014/w39
2014/w40
2014/w41
2014/w42
2014/w43
2014/w44
2014/w45
2014/w46
2014/w47
2014/w48
2014/w49
2014/w50
2014/w51
2014/w52
2015/w01
2015/w02
2015/w03
2015/w04
2015/w05
2015/w06
2015/w07
2015/w08
2015/w09
2015/w10
2015/w11
2015/w12
2015/w13
2015/w14
2015/w15
2015/w16
2015/w17
2015/w18
2015/w19
2015/w20
2015/w21
2015/w22
2015/w23
2015/w24
2015/w25
2015/w26
2015/w27
2015/w28
2015/w29
2015/w30
2015/w31
2015/w32
2015/w33
2015/w34
2015/w35
2015/w36
2015/w37
2015/w38
2015/w39
2015/w40
2015/w41
2015/w42
2015/w43
2015/w44
2015/w45
2015/w46
2015/w47
2015/w48
2015/w49
2015/w50
2015/w51
2015/w52
2016/w01
2016/w02
2016/w03
2016/w04
2016/w05
2016/w06
2016/w07
2016/w08
2016/w09
2016/w10
2016/w11
2016/w12
2016/w13
2016/w14
2016/w15
2016/w16
2016/w17
2016/w18
2016/w19
2016/w20
2016/w21
2016/w22
2016/w23
2016/w24
2016/w25
2016/w26
2016/w27
2016/w28
2016/w29
2016/w30
2016/w31
2016/w32
2016/w33
2016/w34
2016/w35
2016/w36
2016/w37
2016/w38
2016/w39
2016/w40
2016/w41
2016/w42
2016/w43
2016/w44
2016/w45
2016/w46
2016/w47
2016/w48
2016/w49
2016/w50
2016/w51
2016/w52
2017/w01
2017/w02
2017/w03
2017/w04
2017/w05
2017/w06
2017/w07
2017/w08
2017/w09
2017/w10
2017/w11
2017/w12
2017/w13
2017/w14
2017/w15
2017/w16
2017/w17
2017/w18
2017/w19
2017/w20
2017/w21
2017/w22
2017/w23
2017/w24
2017/w25
2017/w26
2017/w27
2017/w28
2017/w29
2017/w30
2017/w31
2017/w32
2017/w33
2017/w34
2017/w35
2017/w36
2017/w37
2017/w38
2017/w39
2017/w40
2017/w41
2017/w42
2017/w43
2017/w44
2017/w45
2017/w46
2017/w47
2017/w48
2017/w49
2017/w50
2017/w51
2017/w52
2018/w01
2018/w02
2018/w03
2018/w04
2018/w05
2018/w06
2018/w07
2018/w08
2018/w09
2018/w10
2018/w11
2018/w12
2018/w13
2018/w14
2018/w15
2018/w16
2018/w17
2018/w18
2018/w19
2018/w20
2018/w21
2018/w22
2018/w23
2018/w24
2018/w25
2018/w26
2018/w27
2018/w28
2018/w29
2018/w30
2018/w31
2018/w32
2018/w33
2018/w34
2018/w35
2018/w36
2018/w37
2018/w38
2018/w39
2018/w40
2018/w41
2018/w42
2018/w43
2018/w44
2018/w45
2018/w46
2018/w47
2018/w48
2018/w49
2018/w50
2018/w51
2018/w52
2019/w01
2019/w02
2019/w03
2019/w04
2019/w05
2019/w06
2019/w07
2019/w08
2019/w09
2019/w10
2019/w11
2019/w12
2019/w13
2019/w14
2019/w15
2019/w16
2019/w17
2019/w18
2019/w19
2019/w20
2019/w21
2019/w22
2019/w23
2019/w24
2019/w25
2019/w26
2019/w27
2019/w28
2019/w29
2019/w30
2019/w31
2019/w32
2019/w33
2019/w34
2019/w35
2019/w36
2019/w37
2019/w38
2019/w39
2019/w40
2019/w41
2019/w42
2019/w43
2019/w44
2019/w45
2019/w46
2019/w47
2019/w48
2019/w49
2019/w50
2019/w51
2019/w52

PREPROCESS START

In [ ]:
preprocess_required_data=required_data
preprocess_required_data.State=preprocess_required_data.State.str.strip()
preprocess_required_data.State=preprocess_required_data.State.str.lower()
preprocess_required_data

preprocess_required_data=required_data
preprocess_required_data.Municipality=preprocess_required_data.Municipality.str.strip()
preprocess_required_data.Municipality=preprocess_required_data.Municipality.str.lower()
preprocess_required_data

     Unnamed: 0            State  ... monthly temperature.1  altitude
0             0        antioquia  ...                   NaN       NaN
1             1        antioquia  ...                   NaN       NaN
2             2        antioquia  ...                   NaN       NaN
3             3        antioquia  ...                   NaN       NaN
4             4        antioquia  ...                   NaN       NaN
..          ...              ...  ...                   ...       ...
453         453  valle del cauca  ...                   NaN       NaN
454         454  valle del cauca  ...                   NaN       NaN
455         455  valle del cauca  ...                   NaN       NaN
456         456  valle del cauca  ...                   NaN       NaN
457         457  valle del cauca  ...                   NaN       NaN

[458 rows x 7 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df['Municipality']

0             Medellín
1            Abejorral
2             Abriaquí
3           Alejandría
4                Amagá
             ...
1117    Puerto Carreño
1118      La Primavera
1119     Santa Rosalía
1120          Cumaribo
1121        Mapiripana
Name: Municipality, Length: 1122, dtype: object

In [ ]:
preprocess_wclim_cases_data=worldclim_tem_prec_cases_month_week_df
preprocess_wclim_cases_data.State=preprocess_wclim_cases_data.State.str.strip()
preprocess_wclim_cases_data.State=preprocess_wclim_cases_data.State.str.lower()
preprocess_wclim_cases_data

preprocess_wclim_cases_data=worldclim_tem_prec_cases_month_week_df
preprocess_wclim_cases_data.Municipality=preprocess_wclim_cases_data.Municipality.str.strip()
preprocess_wclim_cases_data.Municipality=preprocess_wclim_cases_data.Municipality.str.lower()
preprocess_wclim_cases_data['Municipality']

0             medellín
1            abejorral
2             abriaquí
3           alejandría
4                amagá
             ...
1117    puerto carreño
1118      la primavera
1119     santa rosalía
1120          cumaribo
1121        mapiripana
Name: Municipality, Length: 1122, dtype: object

In [ ]:
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('í','i')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('á','a')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('é','e')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('ó','o')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('ú','u')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('ñ','n')
preprocess_wclim_cases_data.State = preprocess_wclim_cases_data.State.str.replace('ü','u')

In [ ]:
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('í','i')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('á','a')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('é','e')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('ó','o')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('ú','u')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('ñ','n')
preprocess_wclim_cases_data.Municipality = preprocess_wclim_cases_data.Municipality.str.replace('ü','u')
preprocess_wclim_cases_data['Municipality']

0             medellin
1            abejorral
2             abriaqui
3           alejandria
4                amaga
             ...
1117    puerto carreno
1118      la primavera
1119     santa rosalia
1120          cumaribo
1121        mapiripana
Name: Municipality, Length: 1122, dtype: object

Preprocess required data remove colums

In [ ]:
preprocess_required_data = preprocess_required_data[['State','Municipality']]

In [ ]:
required_data_wclim_cases_data_preprocess_df = preprocess_required_data.merge(preprocess_wclim_cases_data,on=['Municipality','State'],how='left') #on=['Municipality','State'], how='left')
required_data_wclim_cases_data_preprocess_df
## 458 rows × 838 columns

               State Municipality  ...  2019/w51  2019/w52
0          antioquia   alejandria  ...         0         0
1          antioquia        amaga  ...         0         0
2          antioquia       amalfi  ...         1         0
3          antioquia        andes  ...         0         0
4          antioquia  angelopolis  ...         0         0
..               ...          ...  ...       ...       ...
453  valle del cauca    versalles  ...         0         0
454  valle del cauca        vijes  ...         0         2
455  valle del cauca       yotoco  ...         7         2
456  valle del cauca        yumbo  ...        10         4
457  valle del cauca       zarzal  ...         8         1

[458 rows x 833 columns]

Check nans in merged dataset

In [ ]:
required_data_wclim_cases_data_preprocess_df.to_csv(r'cases_2007_2019_wclim_temp_2015_2018_for_required.csv')  
# 2010_2018 precipt(wclim is down) #2007-2018 temp

https://crudata.uea.ac.uk/cru/data/hrg/

https://mail.google.com/mail/u/0/?tab=rm#search/P.Jones%40uea.ac.uk/QgrcJHsBmtxQZzWCnVrtwXTdWPMrQkgFtjL

In [ ]:
required_data_wclim_cases_data_preprocess_df.isnull().sum()

State                   0
Municipality            0
PRECIPITATION_dec_15    0
PRECIPITATION_nov_15    0
PRECIPITATION_oct_15    0
                       ..
2019/w48                0
2019/w49                0
2019/w50                0
2019/w51                0
2019/w52                0
Length: 833, dtype: int64

In [ ]:
required_data_wclim_cases_data_preprocess_df[required_data_wclim_cases_data_preprocess_df['PRECIPITATION_dec_15']=='NAN']

Empty DataFrame
Columns: [State, Municipality, PRECIPITATION_dec_15, PRECIPITATION_nov_15, PRECIPITATION_oct_15, PRECIPITATION_sep_15, PRECIPITATION_aug_15, PRECIPITATION_jul_15, PRECIPITATION_jun_15, PRECIPITATION_may_15, PRECIPITATION_apr_15, PRECIPITATION_mar_15, PRECIPITATION_feb_15, PRECIPITATION_jan_15, PRECIPITATION_dec_16, PRECIPITATION_nov_16, PRECIPITATION_oct_16, PRECIPITATION_sep_16, PRECIPITATION_aug_16, PRECIPITATION_jul_16, PRECIPITATION_jun_16, PRECIPITATION_may_16, PRECIPITATION_apr_16, PRECIPITATION_mar_16, PRECIPITATION_feb_16, PRECIPITATION_jan_16, PRECIPITATION_dec_17, PRECIPITATION_nov_17, PRECIPITATION_oct_17, PRECIPITATION_sep_17, PRECIPITATION_aug_17, PRECIPITATION_jul_17, PRECIPITATION_jun_17, PRECIPITATION_may_17, PRECIPITATION_apr_17, PRECIPITATION_mar_17, PRECIPITATION_feb_17, PRECIPITATION_jan_17, PRECIPITATION_dec_18, PRECIPITATION_nov_18, PRECIPITATION_oct_18, PRECIPITATION_sep_18, PRECIPITATION_aug_18, PRECIPITATION_jul_18, PRECIPITATION_jun_18, PRECIPITATION_may_18, PRECIPITATION_apr_18, PRECIPITATION_mar_18, PRECIPITATION_feb_18, PRECIPITATION_jan_18, COD_DPTO, NOM_DPTO, Municipality code, NOM_MPIO, TIPO, LATITUD, LONGITUD, TEMPERATURE_dec_15, TEMPERATURE_nov_15, TEMPERATURE_oct_15, TEMPERATURE_sep_15, TEMPERATURE_aug_15, TEMPERATURE_jul_15, TEMPERATURE_jun_15, TEMPERATURE_may_15, TEMPERATURE_apr_15, TEMPERATURE_mar_15, TEMPERATURE_feb_15, TEMPERATURE_jan_15, TEMPERATURE_dec_16, TEMPERATURE_nov_16, TEMPERATURE_oct_16, TEMPERATURE_sep_16, TEMPERATURE_aug_16, TEMPERATURE_jul_16, TEMPERATURE_jun_16, TEMPERATURE_may_16, TEMPERATURE_apr_16, TEMPERATURE_mar_16, TEMPERATURE_feb_16, TEMPERATURE_jan_16, TEMPERATURE_dec_17, TEMPERATURE_nov_17, TEMPERATURE_oct_17, TEMPERATURE_sep_17, TEMPERATURE_aug_17, TEMPERATURE_jul_17, TEMPERATURE_jun_17, TEMPERATURE_may_17, TEMPERATURE_apr_17, TEMPERATURE_mar_17, TEMPERATURE_feb_17, TEMPERATURE_jan_17, TEMPERATURE_dec_18, TEMPERATURE_nov_18, TEMPERATURE_oct_18, TEMPERATURE_sep_18, TEMPERATURE_aug_18, TEMPERATURE_jul_18, TEMPERATURE_jun_18, ...]
Index: []

[0 rows x 833 columns]

In [ ]:
#print(worldclim_tem_prec_cases_month_week_df)
is_NaN = required_data_wclim_cases_data_preprocess_df. isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = required_data_wclim_cases_data_preprocess_df[row_has_NaN]
print(rows_with_NaN)
## for index 674 / row index 1121 in the inner join there is a manuciplaity code in Braim not in wlcim

#rows_with_NaN['Municipality code']
#row     municipality code
#674     47570  ##--in wlcim(nan) and cases(zero)
#worldclim_tem_prec_df['47570']
#1121    94663  ##--in the cases not in wclim

Empty DataFrame
Columns: [State, Municipality, PRECIPITATION_dec_15, PRECIPITATION_nov_15, PRECIPITATION_oct_15, PRECIPITATION_sep_15, PRECIPITATION_aug_15, PRECIPITATION_jul_15, PRECIPITATION_jun_15, PRECIPITATION_may_15, PRECIPITATION_apr_15, PRECIPITATION_mar_15, PRECIPITATION_feb_15, PRECIPITATION_jan_15, PRECIPITATION_dec_16, PRECIPITATION_nov_16, PRECIPITATION_oct_16, PRECIPITATION_sep_16, PRECIPITATION_aug_16, PRECIPITATION_jul_16, PRECIPITATION_jun_16, PRECIPITATION_may_16, PRECIPITATION_apr_16, PRECIPITATION_mar_16, PRECIPITATION_feb_16, PRECIPITATION_jan_16, PRECIPITATION_dec_17, PRECIPITATION_nov_17, PRECIPITATION_oct_17, PRECIPITATION_sep_17, PRECIPITATION_aug_17, PRECIPITATION_jul_17, PRECIPITATION_jun_17, PRECIPITATION_may_17, PRECIPITATION_apr_17, PRECIPITATION_mar_17, PRECIPITATION_feb_17, PRECIPITATION_jan_17, PRECIPITATION_dec_18, PRECIPITATION_nov_18, PRECIPITATION_oct_18, PRECIPITATION_sep_18, PRECIPITATION_aug_18, PRECIPITATION_jul_18, PRECIPITATION_jun_18, PRECIPITATION_may_18, PRECIPITATION_apr_18, PRECIPITATION_mar_18, PRECIPITATION_feb_18, PRECIPITATION_jan_18, COD_DPTO, NOM_DPTO, Municipality code, NOM_MPIO, TIPO, LATITUD, LONGITUD, TEMPERATURE_dec_15, TEMPERATURE_nov_15, TEMPERATURE_oct_15, TEMPERATURE_sep_15, TEMPERATURE_aug_15, TEMPERATURE_jul_15, TEMPERATURE_jun_15, TEMPERATURE_may_15, TEMPERATURE_apr_15, TEMPERATURE_mar_15, TEMPERATURE_feb_15, TEMPERATURE_jan_15, TEMPERATURE_dec_16, TEMPERATURE_nov_16, TEMPERATURE_oct_16, TEMPERATURE_sep_16, TEMPERATURE_aug_16, TEMPERATURE_jul_16, TEMPERATURE_jun_16, TEMPERATURE_may_16, TEMPERATURE_apr_16, TEMPERATURE_mar_16, TEMPERATURE_feb_16, TEMPERATURE_jan_16, TEMPERATURE_dec_17, TEMPERATURE_nov_17, TEMPERATURE_oct_17, TEMPERATURE_sep_17, TEMPERATURE_aug_17, TEMPERATURE_jul_17, TEMPERATURE_jun_17, TEMPERATURE_may_17, TEMPERATURE_apr_17, TEMPERATURE_mar_17, TEMPERATURE_feb_17, TEMPERATURE_jan_17, TEMPERATURE_dec_18, TEMPERATURE_nov_18, TEMPERATURE_oct_18, TEMPERATURE_sep_18, TEMPERATURE_aug_18, TEMPERATURE_jul_18, TEMPERATURE_jun_18, ...]
Index: []

[0 rows x 833 columns]

In [ ]:
            State Municipality  ...  2019/w51  2019/w52
245     cundinamarca        utica  ...       NaN       NaN    25851
269            huila       iquira  ...       NaN       NaN
429  valle del cauca    el aguila  ...       NaN       NaN

In [ ]:
#cases_month_week[cases_month_week['Municipalitycode']==25851]   cundinamarca        utica

#worldclim_tem_prec_df[worldclim_tem_prec_df['Municipality code']==25851] cundinamarca (diff)       utica

#worldclim_tem_prec_df[worldclim_tem_prec_df['Municipality code']==25851][['NOM_DPTO','NOM_MPIO']]

preprocess_wclim_cases_data[preprocess_wclim_cases_data['Municipality code']==25851][['Municipality','State']]

#required_data[required_data['Municipality']=='utica'][['Municipality','State']]
#required_data_wclim_cases_data_preprocess_df[required_data_wclim_cases_data_preprocess_df['Municipality code']==25851][['Municipality','State']]

    Municipality         State
564        útica  cundinamarca

END

In [ ]:
preprocess_required_data[preprocess_required_data['Municipality']=='medellin']

    Unnamed: 0      State  ... monthly temperature.1  altitude
62          62  antioquia  ...                   NaN       NaN

[1 rows x 7 columns]

In [ ]:
preprocess_wclim_cases_data[preprocess_wclim_cases_data['Municipality']=='medellin']

   PRECIPITATION_dec_15  PRECIPITATION_nov_15  ...  2019/w51  2019/w52
0             49.636089            184.867233  ...        14         5

[1 rows x 833 columns]

In [ ]:
worldclim_tem_prec_cases_month_week_df['Municipality']

0         49.6360893249512
1         50.9670753479004
2         40.2052803039551
3         50.1437835693359
4       52.162559509277294
               ...
1117      15.7681474685669
1118      32.1392478942871
1119    59.596031188964794
1120      50.9225997924805
1121                   nan
Name: Municipality, Length: 1122, dtype: object

In [ ]:
preprocess_wclim_cases_data['Municipality']

0         49.6360893249512
1         50.9670753479004
2         40.2052803039551
3         50.1437835693359
4       52.162559509277294
               ...
1117      15.7681474685669
1118      32.1392478942871
1119    59.596031188964794
1120      50.9225997924805
1121                   nan
Name: Municipality, Length: 1122, dtype: object

In [ ]:
required_data_wclim_cases_data_preprocess_df.isnull().sum()

Unnamed: 0                   0
State                        0
Municipality                 0
monthly confirmed cases    458
monthly temperature        458
                          ...
2019/w48                   458
2019/w49                   458
2019/w50                   458
2019/w51                   458
2019/w52                   458
Length: 838, dtype: int64

Continue from here and above:  
1. change the manucipality names to match the required data w/out accents (for cases and wclim if any)
2. join the required data to the cases and temp/per from wclim  
3. (elev nans on the join with Luis, so we will consider wlcim elev after step 2. is done to check for alot of nans.. wait for wclim response/followup)    ##---> Tuesday (2-4pm)--->(3pm-5pm) ( 2hours)

##Test to join the reuqired with Luis -> for elev lots of nans

In [ ]:
preprocess_required_data=required_data
preprocess_required_data.State=preprocess_required_data.State.str.strip()
preprocess_required_data.State=preprocess_required_data.State.str.lower()
preprocess_required_data

preprocess_required_data=required_data
preprocess_required_data.Municipality=preprocess_required_data.Municipality.str.strip()
preprocess_required_data.Municipality=preprocess_required_data.Municipality.str.lower()
preprocess_required_data

     Unnamed: 0            State  ... monthly temperature.1  altitude
0             0        antioquia  ...                   NaN       NaN
1             1        antioquia  ...                   NaN       NaN
2             2        antioquia  ...                   NaN       NaN
3             3        antioquia  ...                   NaN       NaN
4             4        antioquia  ...                   NaN       NaN
..          ...              ...  ...                   ...       ...
453         453  valle del cauca  ...                   NaN       NaN
454         454  valle del cauca  ...                   NaN       NaN
455         455  valle del cauca  ...                   NaN       NaN
456         456  valle del cauca  ...                   NaN       NaN
457         457  valle del cauca  ...                   NaN       NaN

[458 rows x 7 columns]

In [ ]:
#df1_temp
preprocess_df1_temp=df1_temp
preprocess_df1_temp.MUNICIPIO=df1_temp.MUNICIPIO.str.strip()
preprocess_df1_temp.MUNICIPIO=preprocess_df1_temp.MUNICIPIO.str.lower()

preprocess_df1_temp=df1_temp
preprocess_df1_temp.DEPARTAMENTO=df1_temp.DEPARTAMENTO.str.strip()
preprocess_df1_temp.DEPARTAMENTO=preprocess_df1_temp.DEPARTAMENTO.str.lower()

#df2_perp
preprocess_df1_temp=preprocess_df1_temp.rename(columns={'MUNICIPIO':'Municipality'})
preprocess_df1_temp=preprocess_df1_temp.rename(columns={'DEPARTAMENTO': 'State'})
preprocess_df1_temp

       CODIGO CAT              NOMBRE  ... UTM zone Easting (m)  Northing (m)
0    48015010  SP      A.Vasquez Cobo  ...  #ERROR!         NaN           NaN
1    23085030  CO          Alejandria  ...  #ERROR!         NaN           NaN
2    26195020  CO           Ita Andes  ...  #ERROR!         NaN           NaN
3    27025030  CO               Anori  ...  #ERROR!         NaN           NaN
4    12015020  AM              Uniban  ...  #ERROR!         NaN           NaN
..        ...  ..                 ...  ...      ...         ...           ...
462  33055010  CO            Cumaribo  ...  #ERROR!         NaN           NaN
463  34015010  SP        Gaviotas Las  ...  #ERROR!         NaN           NaN
464  34035020  CO            Tapon El  ...  #ERROR!         NaN           NaN
465  34035010  CO  Tuparro Bocas Tomo  ...  #ERROR!         NaN           NaN
466  38015030  CP    Apto Pto Carreno  ...  #ERROR!         NaN           NaN

[467 rows x 60 columns]

In [ ]:
preprocess_df1_temp[preprocess_df1_temp.Municipality=='angelopolis'].ELEV

Series([], Name: ELEV, dtype: int64)

In [ ]:
##dataframe1
#len(preprocess_required_data) #458 
#len(preprocess_df1_temp)  #467
#common##
reqired_data_df1_temp_preprocess_df = preprocess_required_data.merge(preprocess_df1_temp,how='left') #on=['Municipality','State'], how='left')
#len(reqired_data_df1_temp_preprocess_df) ##510--> 498 (40 extra..)
#result = preprocess_required_data[~preprocess_required_data.isin(reqired_data_df1_temp_preprocess_df)]
#result
reqired_data_df1_temp_preprocess_df

     Unnamed: 0            State  ... Easting (m)  Northing (m)
0             0        antioquia  ...         NaN           NaN
1             1        antioquia  ...         NaN           NaN
2             2        antioquia  ...         NaN           NaN
3             3        antioquia  ...         NaN           NaN
4             4        antioquia  ...         NaN           NaN
..          ...              ...  ...         ...           ...
493         453  valle del cauca  ...         NaN           NaN
494         454  valle del cauca  ...         NaN           NaN
495         455  valle del cauca  ...         NaN           NaN
496         456  valle del cauca  ...         NaN           NaN
497         457  valle del cauca  ...         NaN           NaN

[498 rows x 65 columns]

In [ ]:
list_muncip_state=[]
for index, row in reqired_data_df1_temp_preprocess_df.iterrows():
    #print(row['State'], row['Municipality'])
#list_muncip 
    #if row['Municipality'] not in list_muncip_state[:,1] and row['State'] not in list_muncip_state[:,0]:
    #list_muncip.append([row['State'], row['Municipality']])
    if row['Municipality'] not in list_muncip_state[:1]:
      list_muncip_state.append([row['State'], row['Municipality']])
    else:
      if row['State'] == list_muncip_state[row['State']]:
        print(f"we have duplicate of {row['Municipality']} , {row['State']}")
        #pass

In [ ]:
bigger=pd.unique(reqired_data_df1_temp_preprocess_df['State'])
smaller=pd.unique(preprocess_required_data['State'])

In [ ]:
list_in_big_notinsmall = [item for item in bigger if item not in smaller]
list_in_big_notinsmall

[]

In [ ]:
worldclim_tem_prec_cases_month_week_df_csv=pd.read_csv('/content/worldclim_tem_prec_cases_month_week_df.csv', encoding="latin1")

In [ ]:
worldclim_tem_prec_cases_month_week_df_csv['Municipality']

0             MedellÃ­n
1             Abejorral
2             AbriaquÃ­
3           AlejandrÃ­a
4                AmagÃ¡
             ...
1117    Puerto CarreÃ±o
1118       La Primavera
1119     Santa RosalÃ­a
1120           Cumaribo
1121         Mapiripana
Name: Municipality, Length: 1122, dtype: object

In [ ]:
df.Column = df.Column.str.replace('í','i')